In [1]:
import pandas as pd
import numpy as np

## Plot 1

In [2]:
df_final_energy_consumption_by_product = pd.read_csv("datasets/final_energy_consumption_by_product.csv")
df_final_energy_consumption_by_sector = pd.read_csv("datasets/final_energy_consumption_by_sector.csv")

In [3]:
selected_columns_product = ["siec", "geo", "TIME_PERIOD", "OBS_VALUE"]
selected_columns_sector = ["nrg_bal", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_final_energy_consumption_by_product = df_final_energy_consumption_by_product[selected_columns_product]
df2_final_energy_consumption_by_sector = df_final_energy_consumption_by_sector[selected_columns_sector]

In [4]:
df3_final_energy_consumption_by_product = df2_final_energy_consumption_by_product.rename(columns={"siec":"fuel_type", "geo":"country", "TIME_PERIOD":"year", "OBS_VALUE":"consumption_value"}).reset_index(drop=True)
df3_final_energy_consumption_by_sector = df2_final_energy_consumption_by_sector.rename(columns={"nrg_bal":"sector_type", "geo":"country", "TIME_PERIOD":"year", "OBS_VALUE":"consumption_value"})

In [5]:
df3_final_energy_consumption_by_product

                fuel_type  country  year  consumption_value
0      Solid fossil fuels  Albania  2014             85.149
1      Solid fossil fuels  Albania  2015             94.089
2      Solid fossil fuels  Albania  2016             49.941
3      Solid fossil fuels  Albania  2017            123.149
4      Solid fossil fuels  Albania  2018            239.095
...                   ...      ...   ...                ...
4279  Non-renewable waste   Kosovo  2018              0.000
4280  Non-renewable waste   Kosovo  2019              0.000
4281  Non-renewable waste   Kosovo  2020              0.000
4282  Non-renewable waste   Kosovo  2021              0.000
4283  Non-renewable waste   Kosovo  2022              0.000

[4284 rows x 4 columns]

In [6]:
df3_final_energy_consumption_by_sector

                               sector_type  country  year  consumption_value
0           Final consumption - energy use  Albania  2014           2058.574
1           Final consumption - energy use  Albania  2015           1962.498
2           Final consumption - energy use  Albania  2016           1899.558
3           Final consumption - energy use  Albania  2017           2078.928
4           Final consumption - energy use  Albania  2018           2134.212
...                                    ...      ...   ...                ...
1780  Final consumption - transport sector   Kosovo  2018            429.875
1781  Final consumption - transport sector   Kosovo  2019            428.184
1782  Final consumption - transport sector   Kosovo  2020            421.572
1783  Final consumption - transport sector   Kosovo  2021            464.108
1784  Final consumption - transport sector   Kosovo  2022            430.051

[1785 rows x 4 columns]

In [7]:
df4_final_energy_consumption_by_product = df3_final_energy_consumption_by_product[df3_final_energy_consumption_by_product["fuel_type"] != "Total"].reset_index(drop=True)
df4_final_energy_consumption_by_product

                fuel_type  country  year  consumption_value
0      Solid fossil fuels  Albania  2014             85.149
1      Solid fossil fuels  Albania  2015             94.089
2      Solid fossil fuels  Albania  2016             49.941
3      Solid fossil fuels  Albania  2017            123.149
4      Solid fossil fuels  Albania  2018            239.095
...                   ...      ...   ...                ...
3922  Non-renewable waste   Kosovo  2018              0.000
3923  Non-renewable waste   Kosovo  2019              0.000
3924  Non-renewable waste   Kosovo  2020              0.000
3925  Non-renewable waste   Kosovo  2021              0.000
3926  Non-renewable waste   Kosovo  2022              0.000

[3927 rows x 4 columns]

In [8]:
df4_final_energy_consumption_by_sector = df3_final_energy_consumption_by_sector[df3_final_energy_consumption_by_sector["sector_type"] != "Final consumption - energy use"].reset_index(drop=True)
df4_final_energy_consumption_by_sector

                               sector_type  country  year  consumption_value
0      Final consumption - industry sector  Albania  2014            372.768
1      Final consumption - industry sector  Albania  2015            301.176
2      Final consumption - industry sector  Albania  2016            285.923
3      Final consumption - industry sector  Albania  2017            405.514
4      Final consumption - industry sector  Albania  2018            457.432
...                                    ...      ...   ...                ...
1423  Final consumption - transport sector   Kosovo  2018            429.875
1424  Final consumption - transport sector   Kosovo  2019            428.184
1425  Final consumption - transport sector   Kosovo  2020            421.572
1426  Final consumption - transport sector   Kosovo  2021            464.108
1427  Final consumption - transport sector   Kosovo  2022            430.051

[1428 rows x 4 columns]

In [9]:
df4_final_energy_consumption_by_sector_with_total_by_country = df4_final_energy_consumption_by_sector[["country", "year", "consumption_value"]].groupby(["country", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_country_consumption_value"})
df4_final_energy_consumption_by_sector_with_total_by_country

     country  year  total_country_consumption_value
0    Albania  2014                         1942.228
1    Albania  2015                         1859.614
2    Albania  2016                         1794.100
3    Albania  2017                         1943.597
4    Albania  2018                         2015.303
..       ...   ...                              ...
352  Ukraine  2016                        46666.635
353  Ukraine  2017                        45505.655
354  Ukraine  2018                        46540.764
355  Ukraine  2019                        45004.205
356  Ukraine  2020                        42521.489

[357 rows x 3 columns]

In [10]:
df5_final_energy_consumption_by_sector_with_total_by_country = df4_final_energy_consumption_by_sector_with_total_by_country.sort_values(by="total_country_consumption_value", ascending=False)
df5_final_energy_consumption_by_sector_with_total_by_country = df5_final_energy_consumption_by_sector_with_total_by_country.groupby('year').head(15)
df5_final_energy_consumption_by_sector_with_total_by_country

      country  year  total_country_consumption_value
130   Germany  2017                       203008.230
129   Germany  2016                       202062.768
128   Germany  2015                       198462.042
131   Germany  2018                       197275.662
132   Germany  2019                       197146.602
..        ...   ...                              ...
281  Portugal  2014                        14931.036
145    Greece  2022                        14846.372
287  Portugal  2020                        14626.247
146    Greece  2023                        14458.790
144    Greece  2021                        14419.839

[150 rows x 3 columns]

In [11]:
df5_final_energy_consumption_by_product = pd.merge(df4_final_energy_consumption_by_product, df5_final_energy_consumption_by_sector_with_total_by_country, how = "inner", on = ["country", "year"])
df5_final_energy_consumption_by_product

,fuel_type,country,year,consumption_value,total_country_consumption_value
0,Solid fossil fuels,Austria,2014,340.804,24231.978
1,Manufactured gases,Austria,2014,82.777,24231.978
2,Electricity,Austria,2014,5176.188,24231.978
3,Natural gas,Austria,2014,4379.510,24231.978
4,Heat,Austria,2014,1597.816,24231.978
...,...,...,...,...,...
1645,Oil and petroleum products,Ukraine,2020,8612.265,42521.489
1646,Peat and peat products,Ukraine,2020,35.295,42521.489
1647,Renewables and biofuels,Ukraine,2020,2079.728,42521.489
1648,Oil shale and oil sands,Ukraine,2020,0.000,42521.489
1649,Non-renewable waste,Ukraine,2020,100.005,42521.489

In [12]:
df4_final_energy_consumption_by_product_with_total = df5_final_energy_consumption_by_product[["fuel_type", "year", "consumption_value"]].groupby(["fuel_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_product_consumption_value"})
df4_final_energy_consumption_by_product_with_total

              fuel_type  year  total_product_consumption_value
0           Electricity  2014                       199307.253
1           Electricity  2015                       202065.581
2           Electricity  2016                       204235.534
3           Electricity  2017                       205344.444
4           Electricity  2018                       205632.312
..                  ...   ...                              ...
105  Solid fossil fuels  2019                        21979.631
106  Solid fossil fuels  2020                        21301.206
107  Solid fossil fuels  2021                        17236.045
108  Solid fossil fuels  2022                        15578.113
109  Solid fossil fuels  2023                        13664.929

[110 rows x 3 columns]

In [13]:
df5_final_energy_consumption_by_sector = pd.merge(df4_final_energy_consumption_by_sector, df5_final_energy_consumption_by_sector_with_total_by_country, how = "inner", on = ["country", "year"])
df5_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value,total_country_consumption_value
0,Final consumption - industry sector,Austria,2014,7340.552,24231.978
1,Final consumption - commercial and public serv...,Austria,2014,2423.488,24231.978
2,Final consumption - households,Austria,2014,6239.870,24231.978
3,Final consumption - transport sector,Austria,2014,8228.068,24231.978
4,Final consumption - industry sector,Austria,2015,7363.897,24938.949
...,...,...,...,...,...
595,Final consumption - transport sector,Ukraine,2019,10029.097,45004.205
596,Final consumption - industry sector,Ukraine,2020,15979.570,42521.489
597,Final consumption - commercial and public serv...,Ukraine,2020,4869.916,42521.489
598,Final consumption - households,Ukraine,2020,13654.325,42521.489
599,Final consumption - transport sector,Ukraine,2020,8017.678,42521.489

In [14]:
df4_final_energy_consumption_by_sector_with_total_by_sector = df5_final_energy_consumption_by_sector[["sector_type", "year", "consumption_value"]].groupby(["sector_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_sector_consumption_value"})
df4_final_energy_consumption_by_sector_with_total_by_sector

,sector_type,year,total_sector_consumption_value
0,Final consumption - commercial and public serv...,2014,117538.832
1,Final consumption - commercial and public serv...,2015,120766.996
2,Final consumption - commercial and public serv...,2016,122453.224
3,Final consumption - commercial and public serv...,2017,125864.299
4,Final consumption - commercial and public serv...,2018,124172.147
5,Final consumption - commercial and public serv...,2019,121023.704
6,Final consumption - commercial and public serv...,2020,114952.604
7,Final consumption - commercial and public serv...,2021,119176.712
8,Final consumption - commercial and public serv...,2022,110915.267
9,Final consumption - commercial and public serv...,2023,108180.701
10,Final consumption - households,2014,232238.069
11,Final consumption - households,2015,239489.790
12,Final consumption - households,2016,246128.515
13,Final consumption - households,2017,244313.946
14,Final consumption - households,2018,242674.521
15,Final consumption - households,2019,238483.076
16,Final consumption - households,2020,237208.520
17,Final consumption - households,2021,240773.976
18,Final consumption - households,2022,223004.984
19,Final consumption - households,2023,210310.436
20,Final consumption - industry sector,2014,235235.499
21,Final consumption - industry sector,2015,230430.983
22,Final consumption - industry sector,2016,233891.369
23,Final consumption - industry sector,2017,236636.274
24,Final consumption - industry sector,2018,239128.390
25,Final consumption - industry sector,2019,237065.966
26,Final consumption - industry sector,2020,228894.746
27,Final consumption - industry sector,2021,225535.686
28,Final consumption - industry sector,2022,210897.663
29,Final consumption - industry sector,2023,200256.229
30,Final consumption - transport sector,2014,251083.156
31,Final consumption - transport sector,2015,252642.110
32,Final consumption - transport sector,2016,258387.225
33,Final consumption - transport sector,2017,263651.063
34,Final consumption - transport sector,2018,264498.089
35,Final consumption - transport sector,2019,267251.101
36,Final consumption - transport sector,2020,231412.765
37,Final consumption - transport sector,2021,248190.245
38,Final consumption - transport sector,2022,255880.658
39,Final consumption - transport sector,2023,254628.770

In [15]:
df5_final_energy_consumption_by_product = pd.merge(df4_final_energy_consumption_by_product, df4_final_energy_consumption_by_product_with_total, how = "left", on = ["fuel_type", "year"])
df5_final_energy_consumption_by_product

,fuel_type,country,year,consumption_value,total_product_consumption_value
0,Solid fossil fuels,Albania,2014,85.149,27355.612
1,Solid fossil fuels,Albania,2015,94.089,25570.886
2,Solid fossil fuels,Albania,2016,49.941,25669.405
3,Solid fossil fuels,Albania,2017,123.149,25021.281
4,Solid fossil fuels,Albania,2018,239.095,24707.066
...,...,...,...,...,...
3922,Non-renewable waste,Kosovo,2018,0.000,4138.441
3923,Non-renewable waste,Kosovo,2019,0.000,4207.813
3924,Non-renewable waste,Kosovo,2020,0.000,4479.686
3925,Non-renewable waste,Kosovo,2021,0.000,4472.801
3926,Non-renewable waste,Kosovo,2022,0.000,4505.734

In [16]:
df5_final_energy_consumption_by_sector = pd.merge(df4_final_energy_consumption_by_sector, df4_final_energy_consumption_by_sector_with_total_by_sector, how = "left", on = ["sector_type", "year"])
df5_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value,total_sector_consumption_value
0,Final consumption - industry sector,Albania,2014,372.768,235235.499
1,Final consumption - industry sector,Albania,2015,301.176,230430.983
2,Final consumption - industry sector,Albania,2016,285.923,233891.369
3,Final consumption - industry sector,Albania,2017,405.514,236636.274
4,Final consumption - industry sector,Albania,2018,457.432,239128.390
...,...,...,...,...,...
1423,Final consumption - transport sector,Kosovo,2018,429.875,264498.089
1424,Final consumption - transport sector,Kosovo,2019,428.184,267251.101
1425,Final consumption - transport sector,Kosovo,2020,421.572,231412.765
1426,Final consumption - transport sector,Kosovo,2021,464.108,248190.245
1427,Final consumption - transport sector,Kosovo,2022,430.051,255880.658

In [17]:
df6_final_energy_consumption_by_sector = pd.merge(df5_final_energy_consumption_by_sector, df5_final_energy_consumption_by_sector_with_total_by_country, how = "inner", on = ["country", "year"])
df6_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value,total_sector_consumption_value,total_country_consumption_value
0,Final consumption - industry sector,Austria,2014,7340.552,235235.499,24231.978
1,Final consumption - commercial and public serv...,Austria,2014,2423.488,117538.832,24231.978
2,Final consumption - households,Austria,2014,6239.870,232238.069,24231.978
3,Final consumption - transport sector,Austria,2014,8228.068,251083.156,24231.978
4,Final consumption - industry sector,Austria,2015,7363.897,230430.983,24938.949
...,...,...,...,...,...,...
595,Final consumption - transport sector,Ukraine,2019,10029.097,267251.101,45004.205
596,Final consumption - industry sector,Ukraine,2020,15979.570,228894.746,42521.489
597,Final consumption - commercial and public serv...,Ukraine,2020,4869.916,114952.604,42521.489
598,Final consumption - households,Ukraine,2020,13654.325,237208.520,42521.489
599,Final consumption - transport sector,Ukraine,2020,8017.678,231412.765,42521.489

In [18]:
# Data for nodes and their related colors
color_mapping = {
    "node": [
        "Final consumption - commercial and public services",
        "Final consumption - households",
        "Final consumption - industry sector",
        "Final consumption - transport sector",
        "Germany",
        "France",
        "United Kingdom",
        "Italy",
        "Türkiye",
        "Spain",
        "Poland",
        "Ukraine",
        "Netherlands",
        "Belgium",
        "Sweden",
        "Austria",
        "Czechia",
        "Romania",
        "Finland",
        "Norway",
        "Hungary",
        "Portugal",
        "Greece",
        "Electricity",
        "Heat",
        "Manufactured gases",
        "Natural gas",
        "Non-renewable waste",
        "Nuclear heat",
        "Oil and petroleum products",
        "Oil shale and oil sands",
        "Peat and peat products",
        "Renewables and biofuels",
        "Solid fossil fuels"
    ],
    "color": [
        "#FFD700", "#FF69B4", "#708090", "#1E90FF",
        "#000000", "#0055A4", "#003B6F", "#008C45",
        "#E30A17", "#AA151B", "#DC143C", "#21468B", 
        "#FFD700", "#004B87", "#ED2939", "#11457E", 
        "#FCD116", "#003580", "#BA0C2F", "#C8102E", 
        "#FFFF33", "#FF4500", "#32CD32", "#FFFF33",
        "#FF4500", "#32CD32", "#4682B4", "#8B4513",
        "#A9A9A9", "#000000", "#2F4F4F", "#8B4513",
        "#228B22", "#654321"
    ]
}


# Create a DataFrame
df_nodes_colors = pd.DataFrame(color_mapping)

# Display the DataFrame
df_nodes_colors

                                                 node    color
0   Final consumption - commercial and public serv...  #FFD700
1                      Final consumption - households  #FF69B4
2                 Final consumption - industry sector  #708090
3                Final consumption - transport sector  #1E90FF
4                                             Germany  #000000
5                                              France  #0055A4
6                                      United Kingdom  #003B6F
7                                               Italy  #008C45
8                                             Türkiye  #E30A17
9                                               Spain  #AA151B
10                                             Poland  #DC143C
11                                            Ukraine  #21468B
12                                        Netherlands  #FFD700
13                                            Belgium  #004B87
14                                             Sweden  #ED2939
15                                            Austria  #11457E
16                                            Czechia  #FCD116
17                                            Romania  #003580
18                                            Finland  #BA0C2F
19                                             Norway  #C8102E
20                                            Hungary  #FFFF33
21                                           Portugal  #FF4500
22                                             Greece  #32CD32
23                                        Electricity  #FFFF33
24                                               Heat  #FF4500
25                                 Manufactured gases  #32CD32
26                                        Natural gas  #4682B4
27                                Non-renewable waste  #8B4513
28                                       Nuclear heat  #A9A9A9
29                         Oil and petroleum products  #000000
30                            Oil shale and oil sands  #2F4F4F
31                             Peat and peat products  #8B4513
32                            Renewables and biofuels  #228B22
33                                 Solid fossil fuels  #654321

In [19]:
nodes = []

for i, year in enumerate(df4_final_energy_consumption_by_product_with_total['year'].unique()):
    n_nodes = len(nodes)

    df4_final_energy_consumption_by_sector_with_total_by_sector_curr_year = df4_final_energy_consumption_by_sector_with_total_by_sector[df4_final_energy_consumption_by_sector_with_total_by_sector['year'] == year].reset_index(drop=True)
    df5_final_energy_consumption_by_sector_with_total_by_country_curr_year = df5_final_energy_consumption_by_sector_with_total_by_country[df5_final_energy_consumption_by_sector_with_total_by_country['year'] == year].reset_index(drop=True)
    df4_final_energy_consumption_by_product_with_total_curr_year = df4_final_energy_consumption_by_product_with_total[df4_final_energy_consumption_by_product_with_total['year'] == year].reset_index(drop=True)

    curr_n_sectors = df4_final_energy_consumption_by_sector_with_total_by_sector_curr_year['sector_type'].nunique()
    curr_n_countries = df5_final_energy_consumption_by_sector_with_total_by_country_curr_year['country'].nunique()
    curr_n_products = df4_final_energy_consumption_by_product_with_total_curr_year['fuel_type'].nunique()

    for idx, row in df4_final_energy_consumption_by_sector_with_total_by_sector_curr_year.iterrows():
        nodes.append(pd.DataFrame({"node" : [row["sector_type"]], "value" : [row["total_sector_consumption_value"]], "year" : [row["year"]], "indirect_links" : [[n for n in range(curr_n_sectors + curr_n_countries, curr_n_sectors + curr_n_countries + curr_n_products)]], "idx" : idx}))

    for idx, row in df5_final_energy_consumption_by_sector_with_total_by_country_curr_year.iterrows():
        nodes.append(pd.DataFrame({"node" : [row["country"]], "value" : [row["total_country_consumption_value"]], "year" : [row["year"]], "indirect_links" : [[]], "idx" : idx + curr_n_sectors}))

    for idx, row in df4_final_energy_consumption_by_product_with_total_curr_year.iterrows():
        nodes.append(pd.DataFrame({"node" : [row["fuel_type"]], "value" : [row["total_product_consumption_value"]], "year" : [row["year"]], "indirect_links" : [[n for n in range(0 , curr_n_sectors)]], "idx" : idx + curr_n_sectors + curr_n_countries}))

nodes = pd.concat(nodes + []).reset_index(drop=True)

nodes['value'] = (nodes['value'] / 1_000).round(2)

nodes = pd.merge(nodes, df_nodes_colors, how="inner")

nodes.to_csv('prepared_datasets/plot1_nodes.csv')
nodes

,node,value,year,indirect_links,idx,color
0,Final consumption - commercial and public serv...,117.54,2014,"[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]",0,#FFD700
1,Final consumption - commercial and public serv...,120.77,2015,"[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]",0,#FFD700
2,Final consumption - commercial and public serv...,122.45,2016,"[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]",0,#FFD700
3,Final consumption - commercial and public serv...,125.86,2017,"[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]",0,#FFD700
4,Final consumption - commercial and public serv...,124.17,2018,"[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]",0,#FFD700
...,...,...,...,...,...,...
295,Greece,15.22,2015,[],18,#32CD32
296,Greece,15.35,2016,[],18,#32CD32
297,Greece,14.42,2021,[],18,#32CD32
298,Greece,14.85,2022,[],18,#32CD32
299,Greece,14.46,2023,[],18,#32CD32

In [20]:
df5_final_energy_consumption_by_product = pd.merge(df5_final_energy_consumption_by_product, df5_final_energy_consumption_by_sector_with_total_by_country, how = "inner", on = ["country", "year"])
df5_final_energy_consumption_by_product

,fuel_type,country,year,consumption_value,total_product_consumption_value,total_country_consumption_value
0,Solid fossil fuels,Austria,2014,340.804,27355.612,24231.978
1,Manufactured gases,Austria,2014,82.777,7260.124,24231.978
2,Electricity,Austria,2014,5176.188,199307.253,24231.978
3,Natural gas,Austria,2014,4379.510,193961.353,24231.978
4,Heat,Austria,2014,1597.816,47366.119,24231.978
...,...,...,...,...,...,...
1645,Oil and petroleum products,Ukraine,2020,8612.265,283666.581,42521.489
1646,Peat and peat products,Ukraine,2020,35.295,209.882,42521.489
1647,Renewables and biofuels,Ukraine,2020,2079.728,94886.435,42521.489
1648,Oil shale and oil sands,Ukraine,2020,0.000,0.000,42521.489
1649,Non-renewable waste,Ukraine,2020,100.005,4479.686,42521.489

In [21]:
links = []
for idx, row in df6_final_energy_consumption_by_sector.iterrows():
    links.append(pd.DataFrame({"source" : [nodes.iloc[nodes.index[(nodes["node"] == row["sector_type"]) & (nodes["year"] == row["year"])].item()].idx], "target" : [nodes.iloc[nodes.index[(nodes["node"] == row["country"]) & (nodes["year"] == row["year"])].item()].idx], "value" :  row["consumption_value"], "year" : row["year"]}))

for idx, row in df5_final_energy_consumption_by_product.iterrows():
    links.append(pd.DataFrame({"source" : [nodes.iloc[nodes.index[(nodes["node"] == row["country"]) & (nodes["year"] == row["year"])].item()].idx], "target" : [nodes.iloc[nodes.index[(nodes["node"] == row["fuel_type"]) & (nodes["year"] == row["year"])].item()].idx], "value" :  row["consumption_value"], "year" : row["year"]}))

links = pd.concat(links + []).reset_index(drop=True)

links['value'] = (links['value'] / 1_000).round(2)

links.to_csv('prepared_datasets/plot1_links.csv')
links

      source  target  value  year
0          2      13   7.34  2014
1          0      13   2.42  2014
2          1      13   6.24  2014
3          3      13   8.23  2014
4          2      13   7.36  2015
...      ...     ...    ...   ...
2245       9      25   8.61  2020
2246       9      27   0.04  2020
2247       9      28   2.08  2020
2248       9      26   0.00  2020
2249       9      23   0.10  2020

[2250 rows x 4 columns]

## Plot 2

In [22]:
df_final_energy_consumption_in_transport_by_type_of_fuel = pd.read_csv("datasets/final_energy_consumption_in_transport_by_type_of_fuel.csv")
df_final_energy_consumption_in_transport_by_type_of_fuel

,DATAFLOW,LAST UPDATE,freq,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2014,0.000,NaN
1,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2015,0.000,NaN
2,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2016,0.000,NaN
3,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2017,0.000,NaN
4,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2018,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
4993,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2018,429.875,NaN
4994,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2019,428.184,NaN
4995,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2020,421.572,NaN
4996,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2021,464.108,NaN
4997,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2022,430.051,NaN

In [23]:
selected_columns_transport_by_type_of_fuel = ["siec", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_final_energy_consumption_in_transport_by_type_of_fuel = df_final_energy_consumption_in_transport_by_type_of_fuel[selected_columns_transport_by_type_of_fuel].rename(columns = {"siec" : "fuel_type", "geo" : "country", "TIME_PERIOD" : "year", "OBS_VALUE" : "consumption_value"})
df2_final_energy_consumption_in_transport_by_type_of_fuel = df2_final_energy_consumption_in_transport_by_type_of_fuel[df2_final_energy_consumption_in_transport_by_type_of_fuel["fuel_type"] != "Total"]
df2_final_energy_consumption_in_transport_by_type_of_fuel

        fuel_type  country  year  consumption_value
0     Electricity  Albania  2014                0.0
1     Electricity  Albania  2015                0.0
2     Electricity  Albania  2016                0.0
3     Electricity  Albania  2017                0.0
4     Electricity  Albania  2018                0.0
...           ...      ...   ...                ...
4636     Biogases   Kosovo  2018                0.0
4637     Biogases   Kosovo  2019                0.0
4638     Biogases   Kosovo  2020                0.0
4639     Biogases   Kosovo  2021                0.0
4640     Biogases   Kosovo  2022                0.0

[4641 rows x 4 columns]

In [24]:
df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = df2_final_energy_consumption_in_transport_by_type_of_fuel[["fuel_type", "year", "consumption_value"]].groupby(["fuel_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_type_of_fuel_consumption_value"})
df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

            fuel_type  year  total_type_of_fuel_consumption_value
0            Biogases  2014                               124.604
1            Biogases  2015                               128.958
2            Biogases  2016                               133.855
3            Biogases  2017                               152.151
4            Biogases  2018                               156.265
..                ...   ...                                   ...
125  Pure biogasoline  2019                                 3.732
126  Pure biogasoline  2020                                 3.457
127  Pure biogasoline  2021                                 2.548
128  Pure biogasoline  2022                                 1.909
129  Pure biogasoline  2023                                 1.932

[130 rows x 3 columns]

In [25]:
df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.sort_values(["year", "total_type_of_fuel_consumption_value"], ascending=[True, False]).reset_index(drop=True)
df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

                     fuel_type  year  total_type_of_fuel_consumption_value
0       Gas oil and diesel oil  2014                            178799.935
1               Motor gasoline  2014                             70455.439
2           Blended biodiesels  2014                             10261.801
3    Liquefied petroleum gases  2014                              6983.495
4                  Natural gas  2014                              5658.444
..                         ...   ...                                   ...
125                   Fuel oil  2023                              1112.482
126            Pure biodiesels  2023                               791.809
127                   Biogases  2023                                92.767
128      Other liquid biofuels  2023                                12.014
129           Pure biogasoline  2023                                 1.932

[130 rows x 3 columns]

In [26]:
top_n = 5
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = (df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.groupby('year').apply(lambda x: x.nlargest(top_n, 'total_type_of_fuel_consumption_value'))).reset_index(drop=True)
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

                    fuel_type  year  total_type_of_fuel_consumption_value
0      Gas oil and diesel oil  2014                            178799.935
1              Motor gasoline  2014                             70455.439
2          Blended biodiesels  2014                             10261.801
3   Liquefied petroleum gases  2014                              6983.495
4                 Natural gas  2014                              5658.444
5      Gas oil and diesel oil  2015                            183289.984
6              Motor gasoline  2015                             68739.830
7          Blended biodiesels  2015                             10171.774
8   Liquefied petroleum gases  2015                              7069.718
9                 Electricity  2015                              5502.477
10     Gas oil and diesel oil  2016                            189629.226
11             Motor gasoline  2016                             68947.747
12         Blended biodiesels  2016                             10024.477
13  Liquefied petroleum gases  2016                              7548.612
14     Kerosene-type jet fuel  2016                              5692.676
15     Gas oil and diesel oil  2017                            193409.216
16             Motor gasoline  2017                             69048.894
17         Blended biodiesels  2017                             10850.463
18  Liquefied petroleum gases  2017                              7930.801
19     Kerosene-type jet fuel  2017                              5954.493
20     Gas oil and diesel oil  2018                            193211.155
21             Motor gasoline  2018                             68886.859
22         Blended biodiesels  2018                             12148.976
23  Liquefied petroleum gases  2018                              7936.751
24     Kerosene-type jet fuel  2018                              6214.538
25     Gas oil and diesel oil  2019                            193768.638
26             Motor gasoline  2019                             70139.611
27         Blended biodiesels  2019                             12631.697
28  Liquefied petroleum gases  2019                              8253.653
29     Kerosene-type jet fuel  2019                              6457.120
30     Gas oil and diesel oil  2020                            170271.029
31             Motor gasoline  2020                             60753.660
32         Blended biodiesels  2020                             12847.966
33  Liquefied petroleum gases  2020                              6656.325
34                Electricity  2020                              5188.916
35     Gas oil and diesel oil  2021                            180174.506
36             Motor gasoline  2021                             64519.385
37         Blended biodiesels  2021                             13190.649
38  Liquefied petroleum gases  2021                              5532.812
39                Electricity  2021                              5047.460
40     Gas oil and diesel oil  2022                            181401.780
41             Motor gasoline  2022                             68347.912
42         Blended biodiesels  2022                             12949.115
43     Kerosene-type jet fuel  2022                              5912.689
44  Liquefied petroleum gases  2022                              5749.837
45     Gas oil and diesel oil  2023                            170283.841
46             Motor gasoline  2023                             69218.382
47         Blended biodiesels  2023                             13182.767
48     Kerosene-type jet fuel  2023                              6664.475
49                Electricity  2023                              6064.706

In [ ]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year['total_type_of_fuel_consumption_value'] = (df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year['total_type_of_fuel_consumption_value'] / 1_000).round(2)
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

                    fuel_type  year  total_type_of_fuel_consumption_value
0      Gas oil and diesel oil  2014                                178.80
1              Motor gasoline  2014                                 70.46
2          Blended biodiesels  2014                                 10.26
3   Liquefied petroleum gases  2014                                  6.98
4                 Natural gas  2014                                  5.66
5      Gas oil and diesel oil  2015                                183.29
6              Motor gasoline  2015                                 68.74
7          Blended biodiesels  2015                                 10.17
8   Liquefied petroleum gases  2015                                  7.07
9                 Electricity  2015                                  5.50
10     Gas oil and diesel oil  2016                                189.63
11             Motor gasoline  2016                                 68.95
12         Blended biodiesels  2016                                 10.02
13  Liquefied petroleum gases  2016                                  7.55
14     Kerosene-type jet fuel  2016                                  5.69
15     Gas oil and diesel oil  2017                                193.41
16             Motor gasoline  2017                                 69.05
17         Blended biodiesels  2017                                 10.85
18  Liquefied petroleum gases  2017                                  7.93
19     Kerosene-type jet fuel  2017                                  5.95
20     Gas oil and diesel oil  2018                                193.21
21             Motor gasoline  2018                                 68.89
22         Blended biodiesels  2018                                 12.15
23  Liquefied petroleum gases  2018                                  7.94
24     Kerosene-type jet fuel  2018                                  6.21
25     Gas oil and diesel oil  2019                                193.77
26             Motor gasoline  2019                                 70.14
27         Blended biodiesels  2019                                 12.63
28  Liquefied petroleum gases  2019                                  8.25
29     Kerosene-type jet fuel  2019                                  6.46
30     Gas oil and diesel oil  2020                                170.27
31             Motor gasoline  2020                                 60.75
32         Blended biodiesels  2020                                 12.85
33  Liquefied petroleum gases  2020                                  6.66
34                Electricity  2020                                  5.19
35     Gas oil and diesel oil  2021                                180.17
36             Motor gasoline  2021                                 64.52
37         Blended biodiesels  2021                                 13.19
38  Liquefied petroleum gases  2021                                  5.53
39                Electricity  2021                                  5.05
40     Gas oil and diesel oil  2022                                181.40
41             Motor gasoline  2022                                 68.35
42         Blended biodiesels  2022                                 12.95
43     Kerosene-type jet fuel  2022                                  5.91
44  Liquefied petroleum gases  2022                                  5.75
45     Gas oil and diesel oil  2023                                170.28
46             Motor gasoline  2023                                 69.22
47         Blended biodiesels  2023                                 13.18
48     Kerosene-type jet fuel  2023                                  6.66
49                Electricity  2023                                  6.06

In [28]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.to_csv('prepared_datasets/plot2.csv')

## Plot 3

In [50]:
df_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df2_final_energy_consumption_in_transport_by_type_of_fuel[["year", "country", "consumption_value"]].groupby(["country", "year"]).sum().rename(columns={"consumption_value" : "total_country_consumption_value"})
df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.sort_values(by=['year', 'total_country_consumption_value'], ascending=[True, False]).reset_index()
df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

        country  year  total_country_consumption_value
0       Germany  2014                        55433.300
1        France  2014                        45589.411
2         Italy  2014                        37007.271
3         Spain  2014                        28423.957
4        Poland  2014                        15799.701
..          ...   ...                              ...
352  Luxembourg  2023                         1509.683
353      Latvia  2023                         1021.433
354     Estonia  2023                          845.792
355      Cyprus  2023                          683.164
356       Malta  2023                          266.584

[357 rows x 3 columns]

In [51]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = (df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby('year').apply(lambda x: x.nlargest(top_n, 'total_country_consumption_value'))).reset_index(drop=True)
df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

    country  year  total_country_consumption_value
0   Germany  2014                        55433.300
1    France  2014                        45589.411
2     Italy  2014                        37007.271
3     Spain  2014                        28423.957
4    Poland  2014                        15799.701
5   Germany  2015                        55131.245
6    France  2015                        46170.484
7     Italy  2015                        36372.273
8     Spain  2015                        29435.177
9    Poland  2015                        16556.886
10  Germany  2016                        56546.195
11   France  2016                        46393.605
12    Italy  2016                        35813.449
13    Spain  2016                        30627.731
14   Poland  2016                        18552.970
15  Germany  2017                        57236.830
16   France  2017                        46656.046
17    Italy  2017                        34524.358
18    Spain  2017                        31745.322
19   Poland  2017                        21411.729
20  Germany  2018                        55461.045
21   France  2018                        45913.926
22    Italy  2018                        35574.227
23    Spain  2018                        32509.368
24   Poland  2018                        22312.589
25  Germany  2019                        56212.146
26   France  2019                        45632.728
27    Italy  2019                        35859.151
28    Spain  2019                        32909.815
29   Poland  2019                        22741.896
30  Germany  2020                        50995.798
31   France  2020                        38378.757
32    Italy  2020                        28973.857
33    Spain  2020                        26054.834
34   Poland  2020                        21721.570
35  Germany  2021                        49898.620
36   France  2021                        43565.944
37    Italy  2021                        34796.218
38    Spain  2021                        30345.071
39   Poland  2021                        23504.380
40  Germany  2022                        50721.618
41   France  2022                        45064.380
42    Italy  2022                        36684.017
43    Spain  2022                        32473.094
44   Poland  2022                        23851.916
45  Germany  2023                        48897.417
46   France  2023                        44065.503
47    Italy  2023                        37613.335
48    Spain  2023                        32198.350
49   Poland  2023                        23716.901

In [52]:
df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = pd.merge(df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year, df2_final_energy_consumption_in_transport_by_type_of_fuel, how = "left", on = ["country", "year"])
df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,consumption_value
0,Germany,2014,55433.300,Electricity,990.800
1,Germany,2014,55433.300,Natural gas,448.730
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735
3,Germany,2014,55433.300,Motor gasoline,17682.194
4,Germany,2014,55433.300,Kerosene-type jet fuel,715.582
...,...,...,...,...,...
645,Poland,2023,23716.901,Pure biogasoline,0.000
646,Poland,2023,23716.901,Blended biodiesels,1042.013
647,Poland,2023,23716.901,Pure biodiesels,4.957
648,Poland,2023,23716.901,Other liquid biofuels,0.000
649,Poland,2023,23716.901,Biogases,0.000

In [53]:
df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = pd.merge(df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year, df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year, how = "left", on = ["fuel_type", "year"])
df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year[:30]

,country,year,total_country_consumption_value,fuel_type,consumption_value,total_type_of_fuel_consumption_value
0,Germany,2014,55433.300,Electricity,990.800,NaN
1,Germany,2014,55433.300,Natural gas,448.730,5.66
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735,6.98
3,Germany,2014,55433.300,Motor gasoline,17682.194,70.46
4,Germany,2014,55433.300,Kerosene-type jet fuel,715.582,NaN
5,Germany,2014,55433.300,Gas oil and diesel oil,32175.295,178.80
6,Germany,2014,55433.300,Fuel oil,0.000,NaN
7,Germany,2014,55433.300,Blended biogasoline,774.017,NaN
8,Germany,2014,55433.300,Pure biogasoline,5.071,NaN
9,Germany,2014,55433.300,Blended biodiesels,1952.484,10.26
10,Germany,2014,55433.300,Pure biodiesels,1.815,NaN
11,Germany,2014,55433.300,Other liquid biofuels,2.956,NaN
12,Germany,2014,55433.300,Biogases,38.621,NaN
13,France,2014,45589.411,Electricity,906.719,NaN
14,France,2014,45589.411,Natural gas,114.247,5.66
15,France,2014,45589.411,Liquefied petroleum gases,100.251,6.98
16,France,2014,45589.411,Motor gasoline,7050.302,70.46
17,France,2014,45589.411,Kerosene-type jet fuel,1405.766,NaN
18,France,2014,45589.411,Gas oil and diesel oil,33036.384,178.80
19,France,2014,45589.411,Fuel oil,20.400,NaN
20,France,2014,45589.411,Blended biogasoline,414.118,NaN
21,France,2014,45589.411,Pure biogasoline,0.000,NaN
22,France,2014,45589.411,Blended biodiesels,2541.224,10.26
23,France,2014,45589.411,Pure biodiesels,0.000,NaN
24,France,2014,45589.411,Other liquid biofuels,0.000,NaN
25,France,2014,45589.411,Biogases,0.000,NaN
26,Italy,2014,37007.271,Electricity,899.656,NaN
27,Italy,2014,37007.271,Natural gas,1072.077,5.66
28,Italy,2014,37007.271,Liquefied petroleum gases,1718.353,6.98
29,Italy,2014,37007.271,Motor gasoline,8494.602,70.46

In [54]:
df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.copy()

df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['fuel_type'] = df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.apply(
    lambda row: 'Other' if pd.isnull(row['total_type_of_fuel_consumption_value']) else row['fuel_type'], 
    axis=1
)

df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,consumption_value,total_type_of_fuel_consumption_value
0,Germany,2014,55433.300,Other,990.800,NaN
1,Germany,2014,55433.300,Natural gas,448.730,5.66
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735,6.98
3,Germany,2014,55433.300,Motor gasoline,17682.194,70.46
4,Germany,2014,55433.300,Other,715.582,NaN
...,...,...,...,...,...,...
645,Poland,2023,23716.901,Other,0.000,NaN
646,Poland,2023,23716.901,Blended biodiesels,1042.013,13.18
647,Poland,2023,23716.901,Other,4.957,NaN
648,Poland,2023,23716.901,Other,0.000,NaN
649,Poland,2023,23716.901,Other,0.000,NaN

In [55]:
# Define the sorting function for 'fuel_type'
def custom_sort_fuel_type(fuel_type):
    return 1 if fuel_type == "Other" else 0  # Assign a higher rank to "Other"

df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby(
    ["country", "year", "total_country_consumption_value", "fuel_type", "total_type_of_fuel_consumption_value"]).sum().reset_index()

# Add a helper column to sort 'fuel_type'
df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year["fuel_type_rank"] = df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year["fuel_type"].map(custom_sort_fuel_type)

# Perform the sort
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.sort_values(
    by=["year", "total_country_consumption_value", "fuel_type_rank", "consumption_value"],
    ascending=[True, False, True, False]  # Sort 'fuel_type_rank' ascending to place 'Other' last
)

# Drop the helper column as it's no longer needed
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.drop(columns=["fuel_type_rank"]).reset_index(drop=True)



df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.head(30)

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value
0,Germany,2014,55433.300,Gas oil and diesel oil,178.80,32175.295
1,Germany,2014,55433.300,Motor gasoline,70.46,17682.194
2,Germany,2014,55433.300,Blended biodiesels,10.26,1952.484
3,Germany,2014,55433.300,Liquefied petroleum gases,6.98,645.735
4,Germany,2014,55433.300,Natural gas,5.66,448.730
5,France,2014,45589.411,Gas oil and diesel oil,178.80,33036.384
6,France,2014,45589.411,Motor gasoline,70.46,7050.302
7,France,2014,45589.411,Blended biodiesels,10.26,2541.224
8,France,2014,45589.411,Natural gas,5.66,114.247
9,France,2014,45589.411,Liquefied petroleum gases,6.98,100.251
10,Italy,2014,37007.271,Gas oil and diesel oil,178.80,22773.316
11,Italy,2014,37007.271,Motor gasoline,70.46,8494.602
12,Italy,2014,37007.271,Liquefied petroleum gases,6.98,1718.353
13,Italy,2014,37007.271,Natural gas,5.66,1072.077
14,Italy,2014,37007.271,Blended biodiesels,10.26,1055.173
15,Spain,2014,28423.957,Gas oil and diesel oil,178.80,20624.964
16,Spain,2014,28423.957,Motor gasoline,70.46,4534.962
17,Spain,2014,28423.957,Blended biodiesels,10.26,783.931
18,Spain,2014,28423.957,Natural gas,5.66,139.512
19,Spain,2014,28423.957,Liquefied petroleum gases,6.98,39.541
20,Poland,2014,15799.701,Gas oil and diesel oil,178.80,9153.728
21,Poland,2014,15799.701,Motor gasoline,70.46,3535.393
22,Poland,2014,15799.701,Liquefied petroleum gases,6.98,1763.399
23,Poland,2014,15799.701,Blended biodiesels,10.26,563.820
24,Poland,2014,15799.701,Natural gas,5.66,361.687
25,Germany,2015,55131.245,Gas oil and diesel oil,183.29,32943.915
26,Germany,2015,55131.245,Motor gasoline,68.74,16926.336
27,Germany,2015,55131.245,Blended biodiesels,10.17,1789.192
28,Germany,2015,55131.245,Electricity,5.50,958.555
29,Germany,2015,55131.245,Liquefied petroleum gases,7.07,593.784

In [56]:
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['Rank'] = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby(['country', 'year'])['consumption_value'].rank(method='first', ascending=False)
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.head(30)

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value,Rank
0,Germany,2014,55433.300,Gas oil and diesel oil,178.80,32175.295,1.0
1,Germany,2014,55433.300,Motor gasoline,70.46,17682.194,2.0
2,Germany,2014,55433.300,Blended biodiesels,10.26,1952.484,3.0
3,Germany,2014,55433.300,Liquefied petroleum gases,6.98,645.735,4.0
4,Germany,2014,55433.300,Natural gas,5.66,448.730,5.0
5,France,2014,45589.411,Gas oil and diesel oil,178.80,33036.384,1.0
6,France,2014,45589.411,Motor gasoline,70.46,7050.302,2.0
7,France,2014,45589.411,Blended biodiesels,10.26,2541.224,3.0
8,France,2014,45589.411,Natural gas,5.66,114.247,4.0
9,France,2014,45589.411,Liquefied petroleum gases,6.98,100.251,5.0
10,Italy,2014,37007.271,Gas oil and diesel oil,178.80,22773.316,1.0
11,Italy,2014,37007.271,Motor gasoline,70.46,8494.602,2.0
12,Italy,2014,37007.271,Liquefied petroleum gases,6.98,1718.353,3.0
13,Italy,2014,37007.271,Natural gas,5.66,1072.077,4.0
14,Italy,2014,37007.271,Blended biodiesels,10.26,1055.173,5.0
15,Spain,2014,28423.957,Gas oil and diesel oil,178.80,20624.964,1.0
16,Spain,2014,28423.957,Motor gasoline,70.46,4534.962,2.0
17,Spain,2014,28423.957,Blended biodiesels,10.26,783.931,3.0
18,Spain,2014,28423.957,Natural gas,5.66,139.512,4.0
19,Spain,2014,28423.957,Liquefied petroleum gases,6.98,39.541,5.0
20,Poland,2014,15799.701,Gas oil and diesel oil,178.80,9153.728,1.0
21,Poland,2014,15799.701,Motor gasoline,70.46,3535.393,2.0
22,Poland,2014,15799.701,Liquefied petroleum gases,6.98,1763.399,3.0
23,Poland,2014,15799.701,Blended biodiesels,10.26,563.820,4.0
24,Poland,2014,15799.701,Natural gas,5.66,361.687,5.0
25,Germany,2015,55131.245,Gas oil and diesel oil,183.29,32943.915,1.0
26,Germany,2015,55131.245,Motor gasoline,68.74,16926.336,2.0
27,Germany,2015,55131.245,Blended biodiesels,10.17,1789.192,3.0
28,Germany,2015,55131.245,Electricity,5.50,958.555,4.0
29,Germany,2015,55131.245,Liquefied petroleum gases,7.07,593.784,5.0

In [57]:
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['consumption_value'] = (df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['consumption_value'] / 1_000).round(2)
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['total_country_consumption_value'] = (df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['total_country_consumption_value'] / 1_000).round(2)
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value,Rank
0,Germany,2014,55.43,Gas oil and diesel oil,178.80,32.18,1.0
1,Germany,2014,55.43,Motor gasoline,70.46,17.68,2.0
2,Germany,2014,55.43,Blended biodiesels,10.26,1.95,3.0
3,Germany,2014,55.43,Liquefied petroleum gases,6.98,0.65,4.0
4,Germany,2014,55.43,Natural gas,5.66,0.45,5.0
...,...,...,...,...,...,...,...
245,Poland,2023,23.72,Gas oil and diesel oil,170.28,14.72,1.0
246,Poland,2023,23.72,Motor gasoline,69.22,5.20,2.0
247,Poland,2023,23.72,Blended biodiesels,13.18,1.04,3.0
248,Poland,2023,23.72,Electricity,6.06,0.32,4.0
249,Poland,2023,23.72,Kerosene-type jet fuel,6.66,0.04,5.0

In [59]:
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.to_csv('prepared_datasets/plot3.csv')

## Plot 4

In [38]:
df_total_waste_management_by_type = pd.read_csv("datasets/total_waste_management_by_type_of_operation.csv")
df_total_waste_management_by_type

,DATAFLOW,LAST UPDATE,freq,wst_oper,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration,Tonne,European Union - 27 countries (from 2020),2014,25080000,NaN
1,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration,Tonne,European Union - 27 countries (from 2020),2016,15960000,NaN
2,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration,Tonne,European Union - 27 countries (from 2020),2018,13960000,NaN
3,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration,Tonne,European Union - 27 countries (from 2020),2020,9320000,NaN
4,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration,Tonne,European Union - 27 countries (from 2020),2022,7900000,s
5,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - landfill,Tonne,European Union - 27 countries (from 2020),2014,172220000,NaN
6,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - landfill,Tonne,European Union - 27 countries (from 2020),2016,151410000,NaN
7,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - landfill,Tonne,European Union - 27 countries (from 2020),2018,158170000,NaN
8,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - landfill,Tonne,European Union - 27 countries (from 2020),2020,121830000,NaN
9,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - landfill,Tonne,European Union - 27 countries (from 2020),2022,136250000,s
10,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - other,Tonne,European Union - 27 countries (from 2020),2014,3190000,NaN
11,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - other,Tonne,European Union - 27 countries (from 2020),2016,3360000,NaN
12,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - other,Tonne,European Union - 27 countries (from 2020),2018,3210000,NaN
13,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - other,Tonne,European Union - 27 countries (from 2020),2020,1130000,NaN
14,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - other,Tonne,European Union - 27 countries (from 2020),2022,820000,s
15,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2014,12430000,NaN
16,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2016,12280000,NaN
17,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2018,11280000,NaN
18,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2020,16700000,NaN
19,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2022,17260000,s
20,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery,Tonne,European Union - 27 countries (from 2020),2014,103590000,NaN
21,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery,Tonne,European Union - 27 countries (from 2020),2016,118080000,NaN
22,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery,Tonne,European Union - 27 countries (from 2020),2018,124670000,NaN
23,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery,Tonne,European Union - 27 countries (from 2020),2020,123890000,NaN
24,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery,Tonne,European Union - 27 countries (from 2020),2022,122540000,s
25,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2014,374710000,NaN
26,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2016,371030000,NaN
27,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2018,389380000,NaN
28,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2020,371930000,NaN
29,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2022,366390000,s
30,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2014,691220000,NaN
31,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2016,672120000,NaN
32,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2018,700680000,NaN
33,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2020,644800000,NaN
34,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2022,651160000,s

In [39]:
selected_columns_waste = ["wst_oper", "TIME_PERIOD", "OBS_VALUE"]
df2_total_waste_management_by_type = df_total_waste_management_by_type[selected_columns_waste].rename(columns = {"wst_oper" : "waste_operation", "TIME_PERIOD" : "year", "OBS_VALUE" : "waste_disposed_in_tonnes"})
df2_total_waste_management_by_type

               waste_operation  year  waste_disposed_in_tonnes
0      Disposal - incineration  2014                  25080000
1      Disposal - incineration  2016                  15960000
2      Disposal - incineration  2018                  13960000
3      Disposal - incineration  2020                   9320000
4      Disposal - incineration  2022                   7900000
5          Disposal - landfill  2014                 172220000
6          Disposal - landfill  2016                 151410000
7          Disposal - landfill  2018                 158170000
8          Disposal - landfill  2020                 121830000
9          Disposal - landfill  2022                 136250000
10            Disposal - other  2014                   3190000
11            Disposal - other  2016                   3360000
12            Disposal - other  2018                   3210000
13            Disposal - other  2020                   1130000
14            Disposal - other  2022                    820000
15      Recovery - backfilling  2014                  12430000
16      Recovery - backfilling  2016                  12280000
17      Recovery - backfilling  2018                  11280000
18      Recovery - backfilling  2020                  16700000
19      Recovery - backfilling  2022                  17260000
20  Recovery - energy recovery  2014                 103590000
21  Recovery - energy recovery  2016                 118080000
22  Recovery - energy recovery  2018                 124670000
23  Recovery - energy recovery  2020                 123890000
24  Recovery - energy recovery  2022                 122540000
25        Recovery - recycling  2014                 374710000
26        Recovery - recycling  2016                 371030000
27        Recovery - recycling  2018                 389380000
28        Recovery - recycling  2020                 371930000
29        Recovery - recycling  2022                 366390000
30             Waste treatment  2014                 691220000
31             Waste treatment  2016                 672120000
32             Waste treatment  2018                 700680000
33             Waste treatment  2020                 644800000
34             Waste treatment  2022                 651160000

In [40]:
df2_total_waste_management_by_type = df2_total_waste_management_by_type[df2_total_waste_management_by_type["waste_operation"] != "Waste treatment"]

In [41]:
# Add a column for operation type (Disposal/Recovery)
df2_total_waste_management_by_type['operation_type'] = df2_total_waste_management_by_type['waste_operation'].str.split(' - ').str[0]

# Group by year and operation type, calculate the mean
df3_total_waste_management_by_type = (
    df2_total_waste_management_by_type.groupby(['year', 'operation_type'])['waste_disposed_in_tonnes']
    .mean()
    .reset_index())

# Append the calculated averages to the original DataFrame
df3_total_waste_management_by_type['waste_operation'] = df3_total_waste_management_by_type['operation_type'] + " - average"
df4_total_waste_management_by_type = pd.concat([df2_total_waste_management_by_type, df3_total_waste_management_by_type], ignore_index=True)

# Sort by year and reset index

df4_total_waste_management_by_type

C:\Users\andre\AppData\Local\Temp\ipykernel_18428\2066461937.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_total_waste_management_by_type['operation_type'] = df2_total_waste_management_by_type['waste_operation'].str.split(' - ').str[0]

               waste_operation  year  waste_disposed_in_tonnes operation_type
0      Disposal - incineration  2014              2.508000e+07       Disposal
1      Disposal - incineration  2016              1.596000e+07       Disposal
2      Disposal - incineration  2018              1.396000e+07       Disposal
3      Disposal - incineration  2020              9.320000e+06       Disposal
4      Disposal - incineration  2022              7.900000e+06       Disposal
5          Disposal - landfill  2014              1.722200e+08       Disposal
6          Disposal - landfill  2016              1.514100e+08       Disposal
7          Disposal - landfill  2018              1.581700e+08       Disposal
8          Disposal - landfill  2020              1.218300e+08       Disposal
9          Disposal - landfill  2022              1.362500e+08       Disposal
10            Disposal - other  2014              3.190000e+06       Disposal
11            Disposal - other  2016              3.360000e+06       Disposal
12            Disposal - other  2018              3.210000e+06       Disposal
13            Disposal - other  2020              1.130000e+06       Disposal
14            Disposal - other  2022              8.200000e+05       Disposal
15      Recovery - backfilling  2014              1.243000e+07       Recovery
16      Recovery - backfilling  2016              1.228000e+07       Recovery
17      Recovery - backfilling  2018              1.128000e+07       Recovery
18      Recovery - backfilling  2020              1.670000e+07       Recovery
19      Recovery - backfilling  2022              1.726000e+07       Recovery
20  Recovery - energy recovery  2014              1.035900e+08       Recovery
21  Recovery - energy recovery  2016              1.180800e+08       Recovery
22  Recovery - energy recovery  2018              1.246700e+08       Recovery
23  Recovery - energy recovery  2020              1.238900e+08       Recovery
24  Recovery - energy recovery  2022              1.225400e+08       Recovery
25        Recovery - recycling  2014              3.747100e+08       Recovery
26        Recovery - recycling  2016              3.710300e+08       Recovery
27        Recovery - recycling  2018              3.893800e+08       Recovery
28        Recovery - recycling  2020              3.719300e+08       Recovery
29        Recovery - recycling  2022              3.663900e+08       Recovery
30          Disposal - average  2014              6.683000e+07       Disposal
31          Recovery - average  2014              1.635767e+08       Recovery
32          Disposal - average  2016              5.691000e+07       Disposal
33          Recovery - average  2016              1.671300e+08       Recovery
34          Disposal - average  2018              5.844667e+07       Disposal
35          Recovery - average  2018              1.751100e+08       Recovery
36          Disposal - average  2020              4.409333e+07       Disposal
37          Recovery - average  2020              1.708400e+08       Recovery
38          Disposal - average  2022              4.832333e+07       Disposal
39          Recovery - average  2022              1.687300e+08       Recovery

In [42]:
df4_total_waste_management_by_type['waste_disposed_in_million_tonnes'] = (df4_total_waste_management_by_type['waste_disposed_in_tonnes'] / 1_000_000).round(2)
df4_total_waste_management_by_type

,waste_operation,year,waste_disposed_in_tonnes,operation_type,waste_disposed_in_million_tonnes
0,Disposal - incineration,2014,2.508000e+07,Disposal,25.08
1,Disposal - incineration,2016,1.596000e+07,Disposal,15.96
2,Disposal - incineration,2018,1.396000e+07,Disposal,13.96
3,Disposal - incineration,2020,9.320000e+06,Disposal,9.32
4,Disposal - incineration,2022,7.900000e+06,Disposal,7.90
5,Disposal - landfill,2014,1.722200e+08,Disposal,172.22
6,Disposal - landfill,2016,1.514100e+08,Disposal,151.41
7,Disposal - landfill,2018,1.581700e+08,Disposal,158.17
8,Disposal - landfill,2020,1.218300e+08,Disposal,121.83
9,Disposal - landfill,2022,1.362500e+08,Disposal,136.25
10,Disposal - other,2014,3.190000e+06,Disposal,3.19
11,Disposal - other,2016,3.360000e+06,Disposal,3.36
12,Disposal - other,2018,3.210000e+06,Disposal,3.21
13,Disposal - other,2020,1.130000e+06,Disposal,1.13
14,Disposal - other,2022,8.200000e+05,Disposal,0.82
15,Recovery - backfilling,2014,1.243000e+07,Recovery,12.43
16,Recovery - backfilling,2016,1.228000e+07,Recovery,12.28
17,Recovery - backfilling,2018,1.128000e+07,Recovery,11.28
18,Recovery - backfilling,2020,1.670000e+07,Recovery,16.70
19,Recovery - backfilling,2022,1.726000e+07,Recovery,17.26
20,Recovery - energy recovery,2014,1.035900e+08,Recovery,103.59
21,Recovery - energy recovery,2016,1.180800e+08,Recovery,118.08
22,Recovery - energy recovery,2018,1.246700e+08,Recovery,124.67
23,Recovery - energy recovery,2020,1.238900e+08,Recovery,123.89
24,Recovery - energy recovery,2022,1.225400e+08,Recovery,122.54
25,Recovery - recycling,2014,3.747100e+08,Recovery,374.71
26,Recovery - recycling,2016,3.710300e+08,Recovery,371.03
27,Recovery - recycling,2018,3.893800e+08,Recovery,389.38
28,Recovery - recycling,2020,3.719300e+08,Recovery,371.93
29,Recovery - recycling,2022,3.663900e+08,Recovery,366.39
30,Disposal - average,2014,6.683000e+07,Disposal,66.83
31,Recovery - average,2014,1.635767e+08,Recovery,163.58
32,Disposal - average,2016,5.691000e+07,Disposal,56.91
33,Recovery - average,2016,1.671300e+08,Recovery,167.13
34,Disposal - average,2018,5.844667e+07,Disposal,58.45
35,Recovery - average,2018,1.751100e+08,Recovery,175.11
36,Disposal - average,2020,4.409333e+07,Disposal,44.09
37,Recovery - average,2020,1.708400e+08,Recovery,170.84
38,Disposal - average,2022,4.832333e+07,Disposal,48.32
39,Recovery - average,2022,1.687300e+08,Recovery,168.73

In [43]:
df4_total_waste_management_by_type.to_csv("prepared_datasets/plot4.csv")

## Plot 5

In [44]:
df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = pd.read_csv("datasets/percentage_zero_emission_vehicles_per_country_by_type_of_vehicle.csv")
df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,DATAFLOW,LAST UPDATE,freq,mot_nrg,vehicle,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2014,0.111,n
1,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2015,1.334,NaN
2,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2016,2.109,NaN
3,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2017,0.482,NaN
4,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2018,1.511,NaN
...,...,...,...,...,...,...,...,...,...,...
1395,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2019,0.058,s
1396,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2020,0.455,s
1397,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2021,0.508,s
1398,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2022,1.510,s
1399,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2023,2.897,s

In [45]:
selected_columns_zero_emissions = ["vehicle", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle[selected_columns_zero_emissions].rename(columns = {"geo" : "country", "TIME_PERIOD" : "year", "OBS_VALUE" : "zero_emission_vehicles_percentage"})
df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,vehicle,country,year,zero_emission_vehicles_percentage
0,"Buses, motor coaches, and trolley buses",Austria,2014,0.111
1,"Buses, motor coaches, and trolley buses",Austria,2015,1.334
2,"Buses, motor coaches, and trolley buses",Austria,2016,2.109
3,"Buses, motor coaches, and trolley buses",Austria,2017,0.482
4,"Buses, motor coaches, and trolley buses",Austria,2018,1.511
...,...,...,...,...
1395,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2019,0.058
1396,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2020,0.455
1397,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2021,0.508
1398,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2022,1.510
1399,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2023,2.897

In [46]:
df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.copy()

df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.loc[df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle["country"] == "European Union - 27 countries (from 2020)",
    "country"
] = "European Union (Avg)"

df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,vehicle,country,year,zero_emission_vehicles_percentage
0,"Buses, motor coaches, and trolley buses",Austria,2014,0.111
1,"Buses, motor coaches, and trolley buses",Austria,2015,1.334
2,"Buses, motor coaches, and trolley buses",Austria,2016,2.109
3,"Buses, motor coaches, and trolley buses",Austria,2017,0.482
4,"Buses, motor coaches, and trolley buses",Austria,2018,1.511
...,...,...,...,...
1395,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2019,0.058
1396,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2020,0.455
1397,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2021,0.508
1398,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2022,1.510
1399,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2023,2.897

In [47]:
df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.to_csv("prepared_datasets/plot5.csv")