In [1]:
import pandas as pd
import numpy as np

## Plot 1

In [2]:
df_final_energy_consumption_by_product = pd.read_csv("datasets/final_energy_consumption_by_product.csv")
df_final_energy_consumption_by_sector = pd.read_csv("datasets/final_energy_consumption_by_sector.csv")

In [3]:
selected_columns_product = ["siec", "geo", "TIME_PERIOD", "OBS_VALUE"]
selected_columns_sector = ["nrg_bal", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_final_energy_consumption_by_product = df_final_energy_consumption_by_product[selected_columns_product]
df2_final_energy_consumption_by_sector = df_final_energy_consumption_by_sector[selected_columns_sector]

In [4]:
df3_final_energy_consumption_by_product = df2_final_energy_consumption_by_product.rename(columns={"siec":"fuel_type", "geo":"country", "TIME_PERIOD":"year", "OBS_VALUE":"consumption_value"}).reset_index(drop=True)
df3_final_energy_consumption_by_sector = df2_final_energy_consumption_by_sector.rename(columns={"nrg_bal":"sector_type", "geo":"country", "TIME_PERIOD":"year", "OBS_VALUE":"consumption_value"})

In [5]:
df3_final_energy_consumption_by_product

                fuel_type  country  year  consumption_value
0      Solid fossil fuels  Albania  2014             85.149
1      Solid fossil fuels  Albania  2015             94.089
2      Solid fossil fuels  Albania  2016             49.941
3      Solid fossil fuels  Albania  2017            123.149
4      Solid fossil fuels  Albania  2018            239.095
...                   ...      ...   ...                ...
4567  Non-renewable waste   Kosovo  2018              0.000
4568  Non-renewable waste   Kosovo  2019              0.000
4569  Non-renewable waste   Kosovo  2020              0.000
4570  Non-renewable waste   Kosovo  2021              0.000
4571  Non-renewable waste   Kosovo  2022              0.000

[4572 rows x 4 columns]

In [6]:
df3_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value
0,Final consumption - energy use,Albania,2014,2058.574
1,Final consumption - energy use,Albania,2015,1962.498
2,Final consumption - energy use,Albania,2016,1899.558
3,Final consumption - energy use,Albania,2017,2078.928
4,Final consumption - energy use,Albania,2018,2134.212
...,...,...,...,...
1900,Final consumption - transport sector - energy use,Kosovo,2018,429.875
1901,Final consumption - transport sector - energy use,Kosovo,2019,428.184
1902,Final consumption - transport sector - energy use,Kosovo,2020,421.572
1903,Final consumption - transport sector - energy use,Kosovo,2021,464.108
1904,Final consumption - transport sector - energy use,Kosovo,2022,430.051

In [7]:
df4_final_energy_consumption_by_product = df3_final_energy_consumption_by_product[df3_final_energy_consumption_by_product["fuel_type"] != "Total"].reset_index(drop=True)
df4_final_energy_consumption_by_product

                fuel_type  country  year  consumption_value
0      Solid fossil fuels  Albania  2014             85.149
1      Solid fossil fuels  Albania  2015             94.089
2      Solid fossil fuels  Albania  2016             49.941
3      Solid fossil fuels  Albania  2017            123.149
4      Solid fossil fuels  Albania  2018            239.095
...                   ...      ...   ...                ...
4186  Non-renewable waste   Kosovo  2018              0.000
4187  Non-renewable waste   Kosovo  2019              0.000
4188  Non-renewable waste   Kosovo  2020              0.000
4189  Non-renewable waste   Kosovo  2021              0.000
4190  Non-renewable waste   Kosovo  2022              0.000

[4191 rows x 4 columns]

In [8]:
df4_final_energy_consumption_by_sector = df3_final_energy_consumption_by_sector[df3_final_energy_consumption_by_sector["sector_type"] != "Final consumption - energy use"].reset_index(drop=True)
df4_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value
0,Final consumption - industry sector - energy use,Albania,2014,372.768
1,Final consumption - industry sector - energy use,Albania,2015,301.176
2,Final consumption - industry sector - energy use,Albania,2016,285.923
3,Final consumption - industry sector - energy use,Albania,2017,405.514
4,Final consumption - industry sector - energy use,Albania,2018,457.432
...,...,...,...,...
1519,Final consumption - transport sector - energy use,Kosovo,2018,429.875
1520,Final consumption - transport sector - energy use,Kosovo,2019,428.184
1521,Final consumption - transport sector - energy use,Kosovo,2020,421.572
1522,Final consumption - transport sector - energy use,Kosovo,2021,464.108
1523,Final consumption - transport sector - energy use,Kosovo,2022,430.051

In [9]:
df4_final_energy_consumption_by_product_with_total = df4_final_energy_consumption_by_product[["fuel_type", "year", "consumption_value"]].groupby(["fuel_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_product_consumption_value"})
df4_final_energy_consumption_by_product_with_total

              fuel_type  year  total_product_consumption_value
0           Electricity  2014                       278766.261
1           Electricity  2015                       282607.263
2           Electricity  2016                       286580.397
3           Electricity  2017                       290136.173
4           Electricity  2018                       291410.772
..                  ...   ...                              ...
105  Solid fossil fuels  2019                        37030.575
106  Solid fossil fuels  2020                        36117.978
107  Solid fossil fuels  2021                        32907.475
108  Solid fossil fuels  2022                        26784.048
109  Solid fossil fuels  2023                        14586.544

[110 rows x 3 columns]

In [10]:
df4_final_energy_consumption_by_sector_with_total_by_sector = df4_final_energy_consumption_by_sector[["sector_type", "year", "consumption_value"]].groupby(["sector_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_sector_consumption_value"})
df4_final_energy_consumption_by_sector_with_total_by_sector

,sector_type,year,total_sector_consumption_value
0,Final consumption - industry sector - energy use,2014,314344.638
1,Final consumption - industry sector - energy use,2015,312158.018
2,Final consumption - industry sector - energy use,2016,313948.969
3,Final consumption - industry sector - energy use,2017,322414.596
4,Final consumption - industry sector - energy use,2018,326047.796
5,Final consumption - industry sector - energy use,2019,320543.481
6,Final consumption - industry sector - energy use,2020,292531.286
7,Final consumption - industry sector - energy use,2021,292281.177
8,Final consumption - industry sector - energy use,2022,270458.580
9,Final consumption - industry sector - energy use,2023,215075.719
10,Final consumption - other sectors - commercial...,2014,160177.062
11,Final consumption - other sectors - commercial...,2015,167406.030
12,Final consumption - other sectors - commercial...,2016,171108.426
13,Final consumption - other sectors - commercial...,2017,175727.390
14,Final consumption - other sectors - commercial...,2018,173578.851
15,Final consumption - other sectors - commercial...,2019,171763.128
16,Final consumption - other sectors - commercial...,2020,146012.258
17,Final consumption - other sectors - commercial...,2021,147590.038
18,Final consumption - other sectors - commercial...,2022,139251.186
19,Final consumption - other sectors - commercial...,2023,118013.968
20,Final consumption - other sectors - households...,2014,322544.050
21,Final consumption - other sectors - households...,2015,332446.890
22,Final consumption - other sectors - households...,2016,341460.099
23,Final consumption - other sectors - households...,2017,341619.226
24,Final consumption - other sectors - households...,2018,339781.021
25,Final consumption - other sectors - households...,2019,336157.897
26,Final consumption - other sectors - households...,2020,299811.207
27,Final consumption - other sectors - households...,2021,303996.863
28,Final consumption - other sectors - households...,2022,283162.603
29,Final consumption - other sectors - households...,2023,229398.733
30,Final consumption - transport sector - energy use,2014,353009.473
31,Final consumption - transport sector - energy use,2015,359768.183
32,Final consumption - transport sector - energy use,2016,370545.919
33,Final consumption - transport sector - energy use,2017,378143.850
34,Final consumption - transport sector - energy use,2018,379572.578
35,Final consumption - transport sector - energy use,2019,382566.423
36,Final consumption - transport sector - energy use,2020,298758.961
37,Final consumption - transport sector - energy use,2021,316387.300
38,Final consumption - transport sector - energy use,2022,324746.016
39,Final consumption - transport sector - energy use,2023,279651.717

In [11]:
df4_final_energy_consumption_by_sector_with_total_by_country = df4_final_energy_consumption_by_sector[["country", "year", "consumption_value"]].groupby(["country", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_country_consumption_value"})
df4_final_energy_consumption_by_sector_with_total_by_country

            country  year  total_country_consumption_value
0           Albania  2014                         1942.228
1           Albania  2015                         1859.614
2           Albania  2016                         1794.100
3           Albania  2017                         1943.597
4           Albania  2018                         2015.303
..              ...   ...                              ...
376  United Kingdom  2015                       118048.669
377  United Kingdom  2016                       119187.702
378  United Kingdom  2017                       118265.859
379  United Kingdom  2018                       119979.065
380  United Kingdom  2019                       118801.561

[381 rows x 3 columns]

In [12]:
df5_final_energy_consumption_by_product = pd.merge(df4_final_energy_consumption_by_product, df4_final_energy_consumption_by_product_with_total, how = "left", on = ["fuel_type", "year"])
df5_final_energy_consumption_by_product

,fuel_type,country,year,consumption_value,total_product_consumption_value
0,Solid fossil fuels,Albania,2014,85.149,44600.539
1,Solid fossil fuels,Albania,2015,94.089,42865.077
2,Solid fossil fuels,Albania,2016,49.941,43256.857
3,Solid fossil fuels,Albania,2017,123.149,42446.178
4,Solid fossil fuels,Albania,2018,239.095,39973.754
...,...,...,...,...,...
4186,Non-renewable waste,Kosovo,2018,0.000,5678.435
4187,Non-renewable waste,Kosovo,2019,0.000,5847.408
4188,Non-renewable waste,Kosovo,2020,0.000,6065.446
4189,Non-renewable waste,Kosovo,2021,0.000,6191.537
4190,Non-renewable waste,Kosovo,2022,0.000,6298.311

In [13]:
df5_final_energy_consumption_by_sector = pd.merge(df4_final_energy_consumption_by_sector, df4_final_energy_consumption_by_sector_with_total_by_sector, how = "left", on = ["sector_type", "year"])
df5_final_energy_consumption_by_sector

,sector_type,country,year,consumption_value,total_sector_consumption_value
0,Final consumption - industry sector - energy use,Albania,2014,372.768,314344.638
1,Final consumption - industry sector - energy use,Albania,2015,301.176,312158.018
2,Final consumption - industry sector - energy use,Albania,2016,285.923,313948.969
3,Final consumption - industry sector - energy use,Albania,2017,405.514,322414.596
4,Final consumption - industry sector - energy use,Albania,2018,457.432,326047.796
...,...,...,...,...,...
1519,Final consumption - transport sector - energy use,Kosovo,2018,429.875,379572.578
1520,Final consumption - transport sector - energy use,Kosovo,2019,428.184,382566.423
1521,Final consumption - transport sector - energy use,Kosovo,2020,421.572,298758.961
1522,Final consumption - transport sector - energy use,Kosovo,2021,464.108,316387.300
1523,Final consumption - transport sector - energy use,Kosovo,2022,430.051,324746.016

In [14]:
nodes = []
for idx, row in df4_final_energy_consumption_by_sector_with_total_by_sector.iterrows():
    nodes.append(pd.DataFrame({"node" : [row["sector_type"]], "value" : [row["total_sector_consumption_value"]], "year" : [row["year"]]}))

for idx, row in df4_final_energy_consumption_by_sector_with_total_by_country.iterrows():
    nodes.append(pd.DataFrame({"node" : [row["country"]], "value" : [row["total_country_consumption_value"]], "year" : [row["year"]]}))

for idx, row in df4_final_energy_consumption_by_product_with_total.iterrows():
    nodes.append(pd.DataFrame({"node" : [row["fuel_type"]], "value" : [row["total_product_consumption_value"]], "year" : [row["year"]]}))

nodes = pd.concat(nodes + []).reset_index(drop=True)
nodes.to_csv('prepared_datasets/plot1_nodes.csv')
nodes

                                                 node       value  year
0    Final consumption - industry sector - energy use  314344.638  2014
1    Final consumption - industry sector - energy use  312158.018  2015
2    Final consumption - industry sector - energy use  313948.969  2016
3    Final consumption - industry sector - energy use  322414.596  2017
4    Final consumption - industry sector - energy use  326047.796  2018
..                                                ...         ...   ...
526                                Solid fossil fuels   37030.575  2019
527                                Solid fossil fuels   36117.978  2020
528                                Solid fossil fuels   32907.475  2021
529                                Solid fossil fuels   26784.048  2022
530                                Solid fossil fuels   14586.544  2023

[531 rows x 3 columns]

In [15]:
links = []
for idx, row in df5_final_energy_consumption_by_sector.iterrows():
    links.append(pd.DataFrame({"source" : [nodes.index[(nodes["node"] == row["sector_type"]) & (nodes["year"] == row["year"])].item()], "target" : [nodes.index[(nodes["node"] == row["country"]) & (nodes["year"] == row["year"])].item()], "value" :  row["consumption_value"]}))

for idx, row in df5_final_energy_consumption_by_product.iterrows():
    links.append(pd.DataFrame({"source" : [nodes.index[(nodes["node"] == row["country"]) & (nodes["year"] == row["year"])].item()], "target" : [nodes.index[(nodes["node"] == row["fuel_type"]) & (nodes["year"] == row["year"])].item()], "value" :  row["consumption_value"]}))

links = pd.concat(links + []).reset_index(drop=True)
links.to_csv('prepared_datasets/plot1_links.csv')
links

      source  target    value
0          0      40  372.768
1          1      41  301.176
2          2      42  285.923
3          3      43  405.514
4          4      44  457.432
...      ...     ...      ...
5710     229     465    0.000
5711     230     466    0.000
5712     231     467    0.000
5713     232     468    0.000
5714     233     469    0.000

[5715 rows x 3 columns]

## Plot 2

In [16]:
df_final_energy_consumption_in_transport_by_type_of_fuel = pd.read_csv("datasets/final_energy_consumption_in_transport_by_type_of_fuel.csv")
df_final_energy_consumption_in_transport_by_type_of_fuel

,DATAFLOW,LAST UPDATE,freq,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2014,0.000,NaN
1,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2015,0.000,NaN
2,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2016,0.000,NaN
3,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2017,0.000,NaN
4,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Electricity,Thousand tonnes of oil equivalent,Albania,2018,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
5329,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2018,429.875,NaN
5330,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2019,428.184,NaN
5331,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2020,421.572,NaN
5332,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2021,464.108,NaN
5333,ESTAT:TEN00126(1.0),16/12/24 23:00:00,Annual,Final consumption - transport sector - energy use,Total,Thousand tonnes of oil equivalent,Kosovo,2022,430.051,NaN

In [17]:
selected_columns_transport_by_type_of_fuel = ["siec", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_final_energy_consumption_in_transport_by_type_of_fuel = df_final_energy_consumption_in_transport_by_type_of_fuel[selected_columns_transport_by_type_of_fuel].rename(columns = {"siec" : "fuel_type", "geo" : "country", "TIME_PERIOD" : "year", "OBS_VALUE" : "consumption_value"})
df2_final_energy_consumption_in_transport_by_type_of_fuel = df2_final_energy_consumption_in_transport_by_type_of_fuel[df2_final_energy_consumption_in_transport_by_type_of_fuel["fuel_type"] != "Total"]
df2_final_energy_consumption_in_transport_by_type_of_fuel

        fuel_type  country  year  consumption_value
0     Electricity  Albania  2014                0.0
1     Electricity  Albania  2015                0.0
2     Electricity  Albania  2016                0.0
3     Electricity  Albania  2017                0.0
4     Electricity  Albania  2018                0.0
...           ...      ...   ...                ...
4948     Biogases   Kosovo  2018                0.0
4949     Biogases   Kosovo  2019                0.0
4950     Biogases   Kosovo  2020                0.0
4951     Biogases   Kosovo  2021                0.0
4952     Biogases   Kosovo  2022                0.0

[4953 rows x 4 columns]

In [18]:
df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = df2_final_energy_consumption_in_transport_by_type_of_fuel[["fuel_type", "year", "consumption_value"]].groupby(["fuel_type", "year"]).sum().reset_index().rename(columns={"consumption_value" : "total_type_of_fuel_consumption_value"})
df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

            fuel_type  year  total_type_of_fuel_consumption_value
0            Biogases  2014                               124.604
1            Biogases  2015                               138.512
2            Biogases  2016                               143.409
3            Biogases  2017                               162.302
4            Biogases  2018                               175.089
..                ...   ...                                   ...
125  Pure biogasoline  2019                                 3.732
126  Pure biogasoline  2020                                 3.457
127  Pure biogasoline  2021                                 2.548
128  Pure biogasoline  2022                                 1.909
129  Pure biogasoline  2023                                 1.932

[130 rows x 3 columns]

In [19]:
df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = df_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.sort_values(["year", "total_type_of_fuel_consumption_value"], ascending=[True, False]).reset_index(drop=True)
df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

,fuel_type,year,total_type_of_fuel_consumption_value
0,Gas oil and diesel oil (excluding biofuel port...,2014,220712.017
1,Motor gasoline (excluding biofuel portion),2014,86583.057
2,Blended biodiesels,2014,11236.618
3,Liquefied petroleum gases,2014,10294.946
4,Kerosene-type jet fuel (excluding biofuel port...,2014,7414.037
...,...,...,...
125,Fuel oil,2023,1112.482
126,Pure biodiesels,2023,791.809
127,Biogases,2023,92.767
128,Other liquid biofuels,2023,12.014
129,Pure biogasoline,2023,1.932

In [20]:
top_n = 5
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year = (df2_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.groupby('year').apply(lambda x: x.nlargest(top_n, 'total_type_of_fuel_consumption_value'))).reset_index(drop=True)
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

,fuel_type,year,total_type_of_fuel_consumption_value
0,Gas oil and diesel oil (excluding biofuel port...,2014,220712.017
1,Motor gasoline (excluding biofuel portion),2014,86583.057
2,Blended biodiesels,2014,11236.618
3,Liquefied petroleum gases,2014,10294.946
4,Kerosene-type jet fuel (excluding biofuel port...,2014,7414.037
5,Gas oil and diesel oil (excluding biofuel port...,2015,229542.132
6,Motor gasoline (excluding biofuel portion),2015,84724.597
7,Blended biodiesels,2015,10901.421
8,Liquefied petroleum gases,2015,10577.705
9,Kerosene-type jet fuel (excluding biofuel port...,2015,7828.114
10,Gas oil and diesel oil (excluding biofuel port...,2016,238981.203
11,Motor gasoline (excluding biofuel portion),2016,84882.714
12,Liquefied petroleum gases,2016,11234.000
13,Blended biodiesels,2016,10923.571
14,Kerosene-type jet fuel (excluding biofuel port...,2016,8309.792
15,Gas oil and diesel oil (excluding biofuel port...,2017,244147.541
16,Motor gasoline (excluding biofuel portion),2017,84850.534
17,Blended biodiesels,2017,11920.214
18,Liquefied petroleum gases,2017,11534.247
19,Kerosene-type jet fuel (excluding biofuel port...,2017,8482.294
20,Gas oil and diesel oil (excluding biofuel port...,2018,243855.299
21,Motor gasoline (excluding biofuel portion),2018,84371.267
22,Blended biodiesels,2018,13464.248
23,Liquefied petroleum gases,2018,11708.691
24,Kerosene-type jet fuel (excluding biofuel port...,2018,8705.034
25,Gas oil and diesel oil (excluding biofuel port...,2019,243259.890
26,Motor gasoline (excluding biofuel portion),2019,85748.037
27,Blended biodiesels,2019,14431.554
28,Liquefied petroleum gases,2019,12115.249
29,Kerosene-type jet fuel (excluding biofuel port...,2019,8951.545
30,Gas oil and diesel oil (excluding biofuel port...,2020,193173.526
31,Motor gasoline (excluding biofuel portion),2020,63833.745
32,Blended biodiesels,2020,13236.433
33,Liquefied petroleum gases,2020,10123.493
34,Electricity,2020,5464.265
35,Gas oil and diesel oil (excluding biofuel port...,2021,205738.577
36,Motor gasoline (excluding biofuel portion),2021,68181.159
37,Blended biodiesels,2021,13547.366
38,Liquefied petroleum gases,2021,9023.316
39,Electricity,2021,5374.129
40,Gas oil and diesel oil (excluding biofuel port...,2022,206873.324
41,Motor gasoline (excluding biofuel portion),2022,72267.161
42,Blended biodiesels,2022,13340.061
43,Liquefied petroleum gases,2022,9228.020
44,Kerosene-type jet fuel (excluding biofuel port...,2022,7381.166
45,Gas oil and diesel oil (excluding biofuel port...,2023,170283.841
46,Motor gasoline (excluding biofuel portion),2023,69218.382
47,Blended biodiesels,2023,13182.767
48,Kerosene-type jet fuel (excluding biofuel port...,2023,6664.475
49,Electricity,2023,6064.706

In [56]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year['total_type_of_fuel_consumption_value'] = (df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year['total_type_of_fuel_consumption_value'] / 1_000).round(2)
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year

,fuel_type,year,total_type_of_fuel_consumption_value
0,Gas oil and diesel oil (excluding biofuel port...,2014,220.71
1,Motor gasoline (excluding biofuel portion),2014,86.58
2,Blended biodiesels,2014,11.24
3,Liquefied petroleum gases,2014,10.29
4,Kerosene-type jet fuel (excluding biofuel port...,2014,7.41
5,Gas oil and diesel oil (excluding biofuel port...,2015,229.54
6,Motor gasoline (excluding biofuel portion),2015,84.72
7,Blended biodiesels,2015,10.90
8,Liquefied petroleum gases,2015,10.58
9,Kerosene-type jet fuel (excluding biofuel port...,2015,7.83
10,Gas oil and diesel oil (excluding biofuel port...,2016,238.98
11,Motor gasoline (excluding biofuel portion),2016,84.88
12,Liquefied petroleum gases,2016,11.23
13,Blended biodiesels,2016,10.92
14,Kerosene-type jet fuel (excluding biofuel port...,2016,8.31
15,Gas oil and diesel oil (excluding biofuel port...,2017,244.15
16,Motor gasoline (excluding biofuel portion),2017,84.85
17,Blended biodiesels,2017,11.92
18,Liquefied petroleum gases,2017,11.53
19,Kerosene-type jet fuel (excluding biofuel port...,2017,8.48
20,Gas oil and diesel oil (excluding biofuel port...,2018,243.86
21,Motor gasoline (excluding biofuel portion),2018,84.37
22,Blended biodiesels,2018,13.46
23,Liquefied petroleum gases,2018,11.71
24,Kerosene-type jet fuel (excluding biofuel port...,2018,8.71
25,Gas oil and diesel oil (excluding biofuel port...,2019,243.26
26,Motor gasoline (excluding biofuel portion),2019,85.75
27,Blended biodiesels,2019,14.43
28,Liquefied petroleum gases,2019,12.12
29,Kerosene-type jet fuel (excluding biofuel port...,2019,8.95
30,Gas oil and diesel oil (excluding biofuel port...,2020,193.17
31,Motor gasoline (excluding biofuel portion),2020,63.83
32,Blended biodiesels,2020,13.24
33,Liquefied petroleum gases,2020,10.12
34,Electricity,2020,5.46
35,Gas oil and diesel oil (excluding biofuel port...,2021,205.74
36,Motor gasoline (excluding biofuel portion),2021,68.18
37,Blended biodiesels,2021,13.55
38,Liquefied petroleum gases,2021,9.02
39,Electricity,2021,5.37
40,Gas oil and diesel oil (excluding biofuel port...,2022,206.87
41,Motor gasoline (excluding biofuel portion),2022,72.27
42,Blended biodiesels,2022,13.34
43,Liquefied petroleum gases,2022,9.23
44,Kerosene-type jet fuel (excluding biofuel port...,2022,7.38
45,Gas oil and diesel oil (excluding biofuel port...,2023,170.28
46,Motor gasoline (excluding biofuel portion),2023,69.22
47,Blended biodiesels,2023,13.18
48,Kerosene-type jet fuel (excluding biofuel port...,2023,6.66
49,Electricity,2023,6.06

In [57]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year.to_csv('prepared_datasets/plot2.csv')

## Plot 3

In [22]:
df_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df2_final_energy_consumption_in_transport_by_type_of_fuel[["year", "country", "consumption_value"]].groupby(["country", "year"]).sum().rename(columns={"consumption_value" : "total_country_consumption_value"})
df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.sort_values(by=['year', 'total_country_consumption_value'], ascending=[True, False]).reset_index()
df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

            country  year  total_country_consumption_value
0           Germany  2014                        55433.300
1            France  2014                        45589.411
2    United Kingdom  2014                        40097.899
3             Italy  2014                        37007.271
4             Spain  2014                        28423.957
..              ...   ...                              ...
376      Luxembourg  2023                         1509.683
377          Latvia  2023                         1021.433
378         Estonia  2023                          845.792
379          Cyprus  2023                          683.164
380           Malta  2023                          266.584

[381 rows x 3 columns]

In [23]:
df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = (df2_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby('year').apply(lambda x: x.nlargest(top_n, 'total_country_consumption_value'))).reset_index(drop=True)
df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

           country  year  total_country_consumption_value
0          Germany  2014                        55433.300
1           France  2014                        45589.411
2   United Kingdom  2014                        40097.899
3            Italy  2014                        37007.271
4            Spain  2014                        28423.957
5          Germany  2015                        55131.245
6           France  2015                        46170.484
7   United Kingdom  2015                        40878.881
8            Italy  2015                        36372.273
9            Spain  2015                        29435.177
10         Germany  2016                        56546.195
11          France  2016                        46393.605
12  United Kingdom  2016                        41808.275
13           Italy  2016                        35813.449
14           Spain  2016                        30627.731
15         Germany  2017                        57236.830
16          France  2017                        46656.046
17  United Kingdom  2017                        41917.524
18           Italy  2017                        34524.358
19           Spain  2017                        31745.322
20         Germany  2018                        55461.045
21          France  2018                        45913.926
22  United Kingdom  2018                        41749.065
23           Italy  2018                        35574.227
24           Spain  2018                        32509.368
25         Germany  2019                        56212.146
26          France  2019                        45632.728
27  United Kingdom  2019                        41452.277
28           Italy  2019                        35859.151
29           Spain  2019                        32909.815
30         Germany  2020                        50995.798
31          France  2020                        38378.757
32           Italy  2020                        28973.857
33         Türkiye  2020                        26664.835
34           Spain  2020                        26054.834
35         Germany  2021                        49898.620
36          France  2021                        43565.944
37           Italy  2021                        34796.218
38           Spain  2021                        30345.071
39         Türkiye  2021                        30144.077
40         Germany  2022                        50721.618
41          France  2022                        45064.380
42           Italy  2022                        36684.017
43           Spain  2022                        32473.094
44         Türkiye  2022                        30489.326
45         Germany  2023                        48897.417
46          France  2023                        44065.503
47           Italy  2023                        37613.335
48           Spain  2023                        32198.350
49          Poland  2023                        23716.901

In [24]:
df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = pd.merge(df3_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year, df2_final_energy_consumption_in_transport_by_type_of_fuel, how = "left", on = ["country", "year"])
df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,consumption_value
0,Germany,2014,55433.300,Electricity,990.800
1,Germany,2014,55433.300,Natural gas,448.730
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735
3,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),17682.194
4,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,715.582
...,...,...,...,...,...
645,Poland,2023,23716.901,Pure biogasoline,0.000
646,Poland,2023,23716.901,Blended biodiesels,1042.013
647,Poland,2023,23716.901,Pure biodiesels,4.957
648,Poland,2023,23716.901,Other liquid biofuels,0.000
649,Poland,2023,23716.901,Biogases,0.000

In [25]:
df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = pd.merge(df4_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year, df3_final_energy_consumption_in_transport_by_type_of_fuel_total_per_year, how = "left", on = ["fuel_type", "year"])
df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year[:30]

,country,year,total_country_consumption_value,fuel_type,consumption_value,total_type_of_fuel_consumption_value
0,Germany,2014,55433.300,Electricity,990.800,NaN
1,Germany,2014,55433.300,Natural gas,448.730,NaN
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735,10294.946
3,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),17682.194,86583.057
4,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,715.582,7414.037
5,Germany,2014,55433.300,Gas oil and diesel oil (excluding biofuel port...,32175.295,220712.017
6,Germany,2014,55433.300,Fuel oil,0.000,NaN
7,Germany,2014,55433.300,Blended biogasoline,774.017,NaN
8,Germany,2014,55433.300,Pure biogasoline,5.071,NaN
9,Germany,2014,55433.300,Blended biodiesels,1952.484,11236.618
10,Germany,2014,55433.300,Pure biodiesels,1.815,NaN
11,Germany,2014,55433.300,Other liquid biofuels,2.956,NaN
12,Germany,2014,55433.300,Biogases,38.621,NaN
13,France,2014,45589.411,Electricity,906.719,NaN
14,France,2014,45589.411,Natural gas,114.247,NaN
15,France,2014,45589.411,Liquefied petroleum gases,100.251,10294.946
16,France,2014,45589.411,Motor gasoline (excluding biofuel portion),7050.302,86583.057
17,France,2014,45589.411,Kerosene-type jet fuel (excluding biofuel port...,1405.766,7414.037
18,France,2014,45589.411,Gas oil and diesel oil (excluding biofuel port...,33036.384,220712.017
19,France,2014,45589.411,Fuel oil,20.400,NaN
20,France,2014,45589.411,Blended biogasoline,414.118,NaN
21,France,2014,45589.411,Pure biogasoline,0.000,NaN
22,France,2014,45589.411,Blended biodiesels,2541.224,11236.618
23,France,2014,45589.411,Pure biodiesels,0.000,NaN
24,France,2014,45589.411,Other liquid biofuels,0.000,NaN
25,France,2014,45589.411,Biogases,0.000,NaN
26,United Kingdom,2014,40097.899,Electricity,387.360,NaN
27,United Kingdom,2014,40097.899,Natural gas,0.000,NaN
28,United Kingdom,2014,40097.899,Liquefied petroleum gases,96.609,10294.946
29,United Kingdom,2014,40097.899,Motor gasoline (excluding biofuel portion),13185.063,86583.057

In [ ]:
df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df5_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.copy()

df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['fuel_type'] = df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.apply(
    lambda row: 'Other' if pd.isnull(row['total_type_of_fuel_consumption_value']) else row['fuel_type'], 
    axis=1
)

df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,consumption_value,total_type_of_fuel_consumption_value
0,Germany,2014,55433.300,Other,990.800,NaN
1,Germany,2014,55433.300,Other,448.730,NaN
2,Germany,2014,55433.300,Liquefied petroleum gases,645.735,10294.946
3,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),17682.194,86583.057
4,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,715.582,7414.037
...,...,...,...,...,...,...
645,Poland,2023,23716.901,Other,0.000,NaN
646,Poland,2023,23716.901,Blended biodiesels,1042.013,13182.767
647,Poland,2023,23716.901,Other,4.957,NaN
648,Poland,2023,23716.901,Other,0.000,NaN
649,Poland,2023,23716.901,Other,0.000,NaN

In [27]:
# Define the sorting function for 'fuel_type'
def custom_sort_fuel_type(fuel_type):
    return 1 if fuel_type == "Other" else 0  # Assign a higher rank to "Other"

df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df6_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby(
    ["country", "year", "total_country_consumption_value", "fuel_type", "total_type_of_fuel_consumption_value"]).sum().reset_index()

# Add a helper column to sort 'fuel_type'
df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year["fuel_type_rank"] = df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year["fuel_type"].map(custom_sort_fuel_type)

# Perform the sort
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df7_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.sort_values(
    by=["year", "total_country_consumption_value", "fuel_type_rank", "consumption_value"],
    ascending=[True, False, True, False]  # Sort 'fuel_type_rank' ascending to place 'Other' last
)

# Drop the helper column as it's no longer needed
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.drop(columns=["fuel_type_rank"]).reset_index(drop=True)



df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.head(30)

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value
0,Germany,2014,55433.300,Gas oil and diesel oil (excluding biofuel port...,220712.017,32175.295
1,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),86583.057,17682.194
2,Germany,2014,55433.300,Blended biodiesels,11236.618,1952.484
3,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,7414.037,715.582
4,Germany,2014,55433.300,Liquefied petroleum gases,10294.946,645.735
5,France,2014,45589.411,Gas oil and diesel oil (excluding biofuel port...,220712.017,33036.384
6,France,2014,45589.411,Motor gasoline (excluding biofuel portion),86583.057,7050.302
7,France,2014,45589.411,Blended biodiesels,11236.618,2541.224
8,France,2014,45589.411,Kerosene-type jet fuel (excluding biofuel port...,7414.037,1405.766
9,France,2014,45589.411,Liquefied petroleum gases,10294.946,100.251
10,United Kingdom,2014,40097.899,Gas oil and diesel oil (excluding biofuel port...,220712.017,24436.704
11,United Kingdom,2014,40097.899,Motor gasoline (excluding biofuel portion),86583.057,13185.063
12,United Kingdom,2014,40097.899,Kerosene-type jet fuel (excluding biofuel port...,7414.037,824.093
13,United Kingdom,2014,40097.899,Blended biodiesels,11236.618,754.160
14,United Kingdom,2014,40097.899,Liquefied petroleum gases,10294.946,96.609
15,Italy,2014,37007.271,Gas oil and diesel oil (excluding biofuel port...,220712.017,22773.316
16,Italy,2014,37007.271,Motor gasoline (excluding biofuel portion),86583.057,8494.602
17,Italy,2014,37007.271,Liquefied petroleum gases,10294.946,1718.353
18,Italy,2014,37007.271,Blended biodiesels,11236.618,1055.173
19,Italy,2014,37007.271,Kerosene-type jet fuel (excluding biofuel port...,7414.037,643.952
20,Spain,2014,28423.957,Gas oil and diesel oil (excluding biofuel port...,220712.017,20624.964
21,Spain,2014,28423.957,Motor gasoline (excluding biofuel portion),86583.057,4534.962
22,Spain,2014,28423.957,Kerosene-type jet fuel (excluding biofuel port...,7414.037,1687.403
23,Spain,2014,28423.957,Blended biodiesels,11236.618,783.931
24,Spain,2014,28423.957,Liquefied petroleum gases,10294.946,39.541
25,Germany,2015,55131.245,Gas oil and diesel oil (excluding biofuel port...,229542.132,32943.915
26,Germany,2015,55131.245,Motor gasoline (excluding biofuel portion),84724.597,16926.336
27,Germany,2015,55131.245,Blended biodiesels,10901.421,1789.192
28,Germany,2015,55131.245,Kerosene-type jet fuel (excluding biofuel port...,7828.114,716.605
29,Germany,2015,55131.245,Liquefied petroleum gases,10577.705,593.784

In [28]:
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['Rank'] = df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.groupby(['country', 'year'])['consumption_value'].rank(method='first', ascending=False)
df9_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.head(30)

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value,Rank
0,Germany,2014,55433.300,Gas oil and diesel oil (excluding biofuel port...,220712.017,32175.295,1.0
1,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),86583.057,17682.194,2.0
2,Germany,2014,55433.300,Blended biodiesels,11236.618,1952.484,3.0
3,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,7414.037,715.582,4.0
4,Germany,2014,55433.300,Liquefied petroleum gases,10294.946,645.735,5.0
5,France,2014,45589.411,Gas oil and diesel oil (excluding biofuel port...,220712.017,33036.384,1.0
6,France,2014,45589.411,Motor gasoline (excluding biofuel portion),86583.057,7050.302,2.0
7,France,2014,45589.411,Blended biodiesels,11236.618,2541.224,3.0
8,France,2014,45589.411,Kerosene-type jet fuel (excluding biofuel port...,7414.037,1405.766,4.0
9,France,2014,45589.411,Liquefied petroleum gases,10294.946,100.251,5.0
10,United Kingdom,2014,40097.899,Gas oil and diesel oil (excluding biofuel port...,220712.017,24436.704,1.0
11,United Kingdom,2014,40097.899,Motor gasoline (excluding biofuel portion),86583.057,13185.063,2.0
12,United Kingdom,2014,40097.899,Kerosene-type jet fuel (excluding biofuel port...,7414.037,824.093,3.0
13,United Kingdom,2014,40097.899,Blended biodiesels,11236.618,754.160,4.0
14,United Kingdom,2014,40097.899,Liquefied petroleum gases,10294.946,96.609,5.0
15,Italy,2014,37007.271,Gas oil and diesel oil (excluding biofuel port...,220712.017,22773.316,1.0
16,Italy,2014,37007.271,Motor gasoline (excluding biofuel portion),86583.057,8494.602,2.0
17,Italy,2014,37007.271,Liquefied petroleum gases,10294.946,1718.353,3.0
18,Italy,2014,37007.271,Blended biodiesels,11236.618,1055.173,4.0
19,Italy,2014,37007.271,Kerosene-type jet fuel (excluding biofuel port...,7414.037,643.952,5.0
20,Spain,2014,28423.957,Gas oil and diesel oil (excluding biofuel port...,220712.017,20624.964,1.0
21,Spain,2014,28423.957,Motor gasoline (excluding biofuel portion),86583.057,4534.962,2.0
22,Spain,2014,28423.957,Kerosene-type jet fuel (excluding biofuel port...,7414.037,1687.403,3.0
23,Spain,2014,28423.957,Blended biodiesels,11236.618,783.931,4.0
24,Spain,2014,28423.957,Liquefied petroleum gases,10294.946,39.541,5.0
25,Germany,2015,55131.245,Gas oil and diesel oil (excluding biofuel port...,229542.132,32943.915,1.0
26,Germany,2015,55131.245,Motor gasoline (excluding biofuel portion),84724.597,16926.336,2.0
27,Germany,2015,55131.245,Blended biodiesels,10901.421,1789.192,3.0
28,Germany,2015,55131.245,Kerosene-type jet fuel (excluding biofuel port...,7828.114,716.605,4.0
29,Germany,2015,55131.245,Liquefied petroleum gases,10577.705,593.784,5.0

In [54]:
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['consumption_value'] = (df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year['consumption_value'] / 1_000).round(2)
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year

,country,year,total_country_consumption_value,fuel_type,total_type_of_fuel_consumption_value,consumption_value,Rank
0,Germany,2014,55433.300,Gas oil and diesel oil (excluding biofuel port...,220712.017,32.18,1.0
1,Germany,2014,55433.300,Motor gasoline (excluding biofuel portion),86583.057,17.68,2.0
2,Germany,2014,55433.300,Blended biodiesels,11236.618,1.95,3.0
3,Germany,2014,55433.300,Kerosene-type jet fuel (excluding biofuel port...,7414.037,0.72,4.0
4,Germany,2014,55433.300,Liquefied petroleum gases,10294.946,0.65,5.0
...,...,...,...,...,...,...,...
245,Poland,2023,23716.901,Gas oil and diesel oil (excluding biofuel port...,170283.841,14.72,1.0
246,Poland,2023,23716.901,Motor gasoline (excluding biofuel portion),69218.382,5.20,2.0
247,Poland,2023,23716.901,Blended biodiesels,13182.767,1.04,3.0
248,Poland,2023,23716.901,Electricity,6064.706,0.32,4.0
249,Poland,2023,23716.901,Kerosene-type jet fuel (excluding biofuel port...,6664.475,0.04,5.0

In [55]:
df8_final_energy_consumption_in_transport_by_type_of_fuel_top_countries_per_year.to_csv('prepared_datasets/plot3.csv')

## Plot 4

In [30]:
df_total_waste_management_by_type = pd.read_csv("datasets/total_waste_management_by_type_of_operation.csv")
df_total_waste_management_by_type

,DATAFLOW,LAST UPDATE,freq,wst_oper,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration (D10),Tonne,European Union - 27 countries (from 2020),2014,25080000,NaN
1,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration (D10),Tonne,European Union - 27 countries (from 2020),2016,15960000,NaN
2,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration (D10),Tonne,European Union - 27 countries (from 2020),2018,13960000,NaN
3,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration (D10),Tonne,European Union - 27 countries (from 2020),2020,9320000,NaN
4,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Disposal - incineration (D10),Tonne,European Union - 27 countries (from 2020),2022,7900000,s
5,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - landfill (D1, D5, D12)",Tonne,European Union - 27 countries (from 2020),2014,172220000,NaN
6,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - landfill (D1, D5, D12)",Tonne,European Union - 27 countries (from 2020),2016,151410000,NaN
7,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - landfill (D1, D5, D12)",Tonne,European Union - 27 countries (from 2020),2018,158170000,NaN
8,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - landfill (D1, D5, D12)",Tonne,European Union - 27 countries (from 2020),2020,121830000,NaN
9,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - landfill (D1, D5, D12)",Tonne,European Union - 27 countries (from 2020),2022,136250000,s
10,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - other (D2-D4, D6-D7)",Tonne,European Union - 27 countries (from 2020),2014,3190000,NaN
11,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - other (D2-D4, D6-D7)",Tonne,European Union - 27 countries (from 2020),2016,3360000,NaN
12,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - other (D2-D4, D6-D7)",Tonne,European Union - 27 countries (from 2020),2018,3210000,NaN
13,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - other (D2-D4, D6-D7)",Tonne,European Union - 27 countries (from 2020),2020,1130000,NaN
14,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,"Disposal - other (D2-D4, D6-D7)",Tonne,European Union - 27 countries (from 2020),2022,820000,s
15,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2014,12430000,NaN
16,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2016,12280000,NaN
17,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2018,11280000,NaN
18,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2020,16700000,NaN
19,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - backfilling,Tonne,European Union - 27 countries (from 2020),2022,17260000,s
20,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery (R1),Tonne,European Union - 27 countries (from 2020),2014,103590000,NaN
21,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery (R1),Tonne,European Union - 27 countries (from 2020),2016,118080000,NaN
22,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery (R1),Tonne,European Union - 27 countries (from 2020),2018,124670000,NaN
23,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery (R1),Tonne,European Union - 27 countries (from 2020),2020,123890000,NaN
24,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - energy recovery (R1),Tonne,European Union - 27 countries (from 2020),2022,122540000,s
25,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2014,374710000,NaN
26,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2016,371030000,NaN
27,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2018,389380000,NaN
28,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2020,371930000,NaN
29,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Recovery - recycling,Tonne,European Union - 27 countries (from 2020),2022,366390000,s
30,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2014,691220000,NaN
31,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2016,672120000,NaN
32,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2018,700680000,NaN
33,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2020,644800000,NaN
34,ESTAT:ENV_WASOPER(1.0),28/11/24 23:00:00,Annual,Waste treatment,Tonne,European Union - 27 countries (from 2020),2022,651160000,s

In [31]:
selected_columns_waste = ["wst_oper", "TIME_PERIOD", "OBS_VALUE"]
df2_total_waste_management_by_type = df_total_waste_management_by_type[selected_columns_waste].rename(columns = {"wst_oper" : "waste_operation", "TIME_PERIOD" : "year", "OBS_VALUE" : "waste_disposed_in_tonnes"})
df2_total_waste_management_by_type

                      waste_operation  year  waste_disposed_in_tonnes
0       Disposal - incineration (D10)  2014                  25080000
1       Disposal - incineration (D10)  2016                  15960000
2       Disposal - incineration (D10)  2018                  13960000
3       Disposal - incineration (D10)  2020                   9320000
4       Disposal - incineration (D10)  2022                   7900000
5   Disposal - landfill (D1, D5, D12)  2014                 172220000
6   Disposal - landfill (D1, D5, D12)  2016                 151410000
7   Disposal - landfill (D1, D5, D12)  2018                 158170000
8   Disposal - landfill (D1, D5, D12)  2020                 121830000
9   Disposal - landfill (D1, D5, D12)  2022                 136250000
10    Disposal - other (D2-D4, D6-D7)  2014                   3190000
11    Disposal - other (D2-D4, D6-D7)  2016                   3360000
12    Disposal - other (D2-D4, D6-D7)  2018                   3210000
13    Disposal - other (D2-D4, D6-D7)  2020                   1130000
14    Disposal - other (D2-D4, D6-D7)  2022                    820000
15             Recovery - backfilling  2014                  12430000
16             Recovery - backfilling  2016                  12280000
17             Recovery - backfilling  2018                  11280000
18             Recovery - backfilling  2020                  16700000
19             Recovery - backfilling  2022                  17260000
20    Recovery - energy recovery (R1)  2014                 103590000
21    Recovery - energy recovery (R1)  2016                 118080000
22    Recovery - energy recovery (R1)  2018                 124670000
23    Recovery - energy recovery (R1)  2020                 123890000
24    Recovery - energy recovery (R1)  2022                 122540000
25               Recovery - recycling  2014                 374710000
26               Recovery - recycling  2016                 371030000
27               Recovery - recycling  2018                 389380000
28               Recovery - recycling  2020                 371930000
29               Recovery - recycling  2022                 366390000
30                    Waste treatment  2014                 691220000
31                    Waste treatment  2016                 672120000
32                    Waste treatment  2018                 700680000
33                    Waste treatment  2020                 644800000
34                    Waste treatment  2022                 651160000

In [52]:
df2_total_waste_management_by_type['waste_disposed_in_million_tonnes'] = (df2_total_waste_management_by_type['waste_disposed_in_tonnes'] / 1_000_000).round(2)
df2_total_waste_management_by_type

/tmp/ipykernel_64136/1552472382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_total_waste_management_by_type['waste_disposed_in_million_tonnes'] = (df2_total_waste_management_by_type['waste_disposed_in_tonnes'] / 1_000_000).round(2)

,waste_operation,year,waste_disposed_in_tonnes,waste_disposed_in_million_tonnes
0,Disposal - incineration (D10),2014,25080000,25.08
1,Disposal - incineration (D10),2016,15960000,15.96
2,Disposal - incineration (D10),2018,13960000,13.96
3,Disposal - incineration (D10),2020,9320000,9.32
4,Disposal - incineration (D10),2022,7900000,7.90
5,"Disposal - landfill (D1, D5, D12)",2014,172220000,172.22
6,"Disposal - landfill (D1, D5, D12)",2016,151410000,151.41
7,"Disposal - landfill (D1, D5, D12)",2018,158170000,158.17
8,"Disposal - landfill (D1, D5, D12)",2020,121830000,121.83
9,"Disposal - landfill (D1, D5, D12)",2022,136250000,136.25
10,"Disposal - other (D2-D4, D6-D7)",2014,3190000,3.19
11,"Disposal - other (D2-D4, D6-D7)",2016,3360000,3.36
12,"Disposal - other (D2-D4, D6-D7)",2018,3210000,3.21
13,"Disposal - other (D2-D4, D6-D7)",2020,1130000,1.13
14,"Disposal - other (D2-D4, D6-D7)",2022,820000,0.82
15,Recovery - backfilling,2014,12430000,12.43
16,Recovery - backfilling,2016,12280000,12.28
17,Recovery - backfilling,2018,11280000,11.28
18,Recovery - backfilling,2020,16700000,16.70
19,Recovery - backfilling,2022,17260000,17.26
20,Recovery - energy recovery (R1),2014,103590000,103.59
21,Recovery - energy recovery (R1),2016,118080000,118.08
22,Recovery - energy recovery (R1),2018,124670000,124.67
23,Recovery - energy recovery (R1),2020,123890000,123.89
24,Recovery - energy recovery (R1),2022,122540000,122.54
25,Recovery - recycling,2014,374710000,374.71
26,Recovery - recycling,2016,371030000,371.03
27,Recovery - recycling,2018,389380000,389.38
28,Recovery - recycling,2020,371930000,371.93
29,Recovery - recycling,2022,366390000,366.39

In [53]:
df2_total_waste_management_by_type = df2_total_waste_management_by_type[df2_total_waste_management_by_type["waste_operation"] != "Waste treatment"]
df2_total_waste_management_by_type.to_csv("prepared_datasets/plot4.csv")

## Plot 5

In [48]:
df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = pd.read_csv("datasets/percentage_zero_emission_vehicles_per_country_by_type_of_vehicle.csv")
df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,DATAFLOW,LAST UPDATE,freq,mot_nrg,vehicle,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2014,0.111,n
1,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2015,1.334,NaN
2,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2016,2.109,NaN
3,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2017,0.482,NaN
4,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,"Buses, motor coaches, and trolley buses",Percentage,Austria,2018,1.511,NaN
...,...,...,...,...,...,...,...,...,...,...
1395,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2019,0.058,s
1396,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2020,0.455,s
1397,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2021,0.508,s
1398,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2022,1.510,s
1399,ESTAT:ROAD_EQR_ZEV(1.0),19/12/24 23:00:00,Annual,Total,Goods road motor vehicles <= 3.5 tonnes,Percentage,Slovakia,2023,2.897,s

In [49]:
selected_columns_zero_emissions = ["vehicle", "geo", "TIME_PERIOD", "OBS_VALUE"]
df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = df_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle[selected_columns_zero_emissions].rename(columns = {"geo" : "country", "TIME_PERIOD" : "year", "OBS_VALUE" : "zero_emission_vehicles_percentage"})
df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,vehicle,country,year,zero_emission_vehicles_percentage
0,"Buses, motor coaches, and trolley buses",Austria,2014,0.111
1,"Buses, motor coaches, and trolley buses",Austria,2015,1.334
2,"Buses, motor coaches, and trolley buses",Austria,2016,2.109
3,"Buses, motor coaches, and trolley buses",Austria,2017,0.482
4,"Buses, motor coaches, and trolley buses",Austria,2018,1.511
...,...,...,...,...
1395,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2019,0.058
1396,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2020,0.455
1397,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2021,0.508
1398,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2022,1.510
1399,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2023,2.897

In [50]:
df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle = df2_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.copy()

df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.loc[df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle["country"] == "European Union - 27 countries (from 2020)",
    "country"
] = "European Union (Avg)"

df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle

,vehicle,country,year,zero_emission_vehicles_percentage
0,"Buses, motor coaches, and trolley buses",Austria,2014,0.111
1,"Buses, motor coaches, and trolley buses",Austria,2015,1.334
2,"Buses, motor coaches, and trolley buses",Austria,2016,2.109
3,"Buses, motor coaches, and trolley buses",Austria,2017,0.482
4,"Buses, motor coaches, and trolley buses",Austria,2018,1.511
...,...,...,...,...
1395,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2019,0.058
1396,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2020,0.455
1397,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2021,0.508
1398,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2022,1.510
1399,Goods road motor vehicles <= 3.5 tonnes,Slovakia,2023,2.897

In [51]:
df3_percentage_zero_emissions_vehicles_per_country_by_type_of_vehicle.to_csv("prepared_datasets/plot5.csv")